{%- for link, props in pageData.children -%}

  {%- set name = props.name or (link | title) -%}
  {%- set isExternal = (r/^https?:\/\//i).test(link) -%}
  {%- if isExternal -%}
    {%- set linkAbsolute = link -%}
  {%- else -%}
    {%- set linkAbsolute = '/' + (pagePath + '/' if pagePath else '') + link -%}
  {%- endif %}

  <a href="{{ linkAbsolute }}" class="
    gbl-box
    {{- ' gbl-components' if props.components -}}
    {{- ' gbl-backdrop' if props.image -}}
    {{- ' gbl-backdrop-transparent' if props.hasTransparentImage -}} 
  ">
    <h2 class="heading">
      <span class="text">
        {{- name -}}
        {%- if isExternal -%}
          {%- include './svg/external-link.svg' -%}
        {%- endif -%}
      </span>
    </h2>
    {%- if props.description %}
      <p class="description">{{ props.description | nl2br | safe }}</p>
    {%- endif %}

    {%- if props.components %}
      <ul class="quick-links">
        {%- for childLink, childProps in props.children -%}

          {%- set childName = childProps.name or (childLink | title) -%}
          {%- set childLinkAbsolute = linkAbsolute + '/' + childLink -%}

          <li class="link">
            <button type="button" data-href="{{ childLinkAbsolute }}">{{ childName }}</button>
          </li>

        {%- endfor %}
      </ul>
    {%- endif %}

    {%- if props.image %}
      <span class="backdrop" style="background-image: {{ 'url("' + props.image +  '")' if r/[\w-]+\.\w+$/.test(props.image) else props.image }}"></span>
    {%- endif %}
  </a>

{%- endfor -%}
