<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'lib/website-common/template/common-head.njk' %}
    <link rel="stylesheet" href="/style/gbl-box.css">
    {%- block head %}{% endblock %}
  </head>
  <body>
    <div id="box-overview">
      {% include 'lib/website-common/template/navbar.njk' %}

      <div id="gbl-box-menu">
        {% include 'template/box-list.njk' %}
      </div>
    </div>

    {% include 'lib/website-common/template/footer.njk' %}
  </body>
</html>
