// main: gbl-box.less

@import (reference) '../../../lib/website-common/static/style/less/vars.less';

@gbl-border-radius: 28px;
@gbl-active-translateY: .185rem;
@gbl-box-normal-shadow-base: 0 2px 30px;
@gbl-box-active-shadow-base: 0 1px 36px;

// --- Colors ---
// Dark mode
@GBL-BOX-BACKDROP-OPACITY: 67.5%;

@gbl-box-bg: lighten(@main-bg, 3%);
@gbl-box-backdrop-bg: fade(@gbl-box-bg, @GBL-BOX-BACKDROP-OPACITY);
@gbl-box-descripton-backdrop-bg: fade(@main-bg, 55%);
@gbl-box-quicklinks-border-top: fade(lighten(@gbl-box-bg, 4.5%), @GBL-BOX-BACKDROP-OPACITY);
@gbl-box-quicklinks-hover-background: fade(darken(@gbl-box-backdrop-bg, 4.5%), 27.5%);
@gbl-box-quicklinks-hover-border-top: fade(lighten(@gbl-box-quicklinks-border-top, 3%), 27.5%);
@gbl-box-shadow: hsla(0, 0%, 4%, .15);
@gbl-box-shadow-hover: fade(@gbl-box-shadow, 17.5%);
@gbl-box-border-top: lighten(@gbl-box-bg, 16%);
@gbl-box-border-bottom: mix(hsl(0, 0%, 0%), @main-bg, 50%);


// Light mode
@GBL-BOX-BACKDROP-OPACITY--lt: 70%;

@gbl-box-bg--lt: white;
@gbl-box-backdrop-bg--lt: fade(@gbl-box-bg--lt, @GBL-BOX-BACKDROP-OPACITY--lt);
@gbl-box-backdrop-image-bg--lt: darken(@gbl-box-bg--lt, 24%);
@gbl-box-descripton-backdrop-bg--lt: fade(@gbl-box-bg--lt, 68.5%);
@gbl-box-quicklinks-border-top--lt: fade(darken(@gbl-box-bg--lt, 5%), @GBL-BOX-BACKDROP-OPACITY--lt);
@gbl-box-quicklinks-hover-background--lt: fade(lighten(@gbl-box-backdrop-bg--lt, 4.5%), 27.5%);
@gbl-box-quicklinks-hover-background-transparent--lt: fade(darken(@gbl-box-backdrop-bg--lt, 12%), 27.5%);
@gbl-box-quicklinks-hover-border-top--lt: fade(darken(@gbl-box-quicklinks-border-top--lt, 3%), 27.5%);
@gbl-box-shadow--lt: fade(@gbl-box-shadow, 8.5%);
@gbl-box-shadow-hover--lt: fade(@gbl-box-shadow-hover, 11%);
@gbl-box-border-top--lt: @main-bg--lt;
@gbl-box-border-bottom--lt: darken(@gbl-box-bg--lt, 25.5%);
