// out: ../gbl-box.css

@import (reference) 'gbl-vars';

#box-overview {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#gbl-box-menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.57em, 1fr));
  grid-gap: 1.942em;
  justify-items: center;
  align-items: center;

  font-size: 1rem;
  padding: 2.64em 1.2em;
  box-sizing: border-box;
}

.gbl-box {
  display: block;
  text-decoration: none;
  position: relative; //only component-box
  z-index: 0; //only for images
  overflow: hidden; //only for images
  color: currentColor;
  width: 17em;
  height: 19.1em;
  font-size: ~"max(1rem, min(1.15rem, calc(.2vw + .912rem)))";
  border-radius: @gbl-border-radius;
  background-color: @gbl-box-bg;
  box-shadow: @gbl-box-normal-shadow-base @gbl-box-shadow;
  box-sizing: border-box;
  transition+:
    transform .2s cubic-bezier(.35,.1,.2,.95),
    box-shadow .2s ease-out;
  .mode-transition.color();
  .mode-transition.background();
  .mode-transition.shadow();
  .description {
    // NOTE: The translateY styles are all over the place here to mitigate
    // `backdrop-filter` not working in Firefox in combination with `transform`.
    margin: -@gbl-active-translateY 0 0;
    // NOTE: left-right padding must match the combined h2 + span's padding
    padding: .275em 1.172em;
    transform: translateY(@gbl-active-translateY);
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(18px);
    background-color: @gbl-box-descripton-backdrop-bg;
    transition+:
      transform .175s cubic-bezier(.3,.15,.15,1),
      opacity .1s ease-in-out,
      visibility .1s linear;
    .mode-transition.background();
  }
  .backdrop {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    image-rendering: optimizeQuality;
    image-rendering: -webkit-smooth;
    image-rendering: smooth;
    transition:
      -webkit-filter .225s cubic-bezier(.35,.125,.15,.95),
      filter .225s cubic-bezier(.35,.125,.15,.95);
  }
  .heading .text,
  .quick-links {
    background-color: @gbl-box-backdrop-bg;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
  }
  .heading {
    font-size: 1.65em;
    margin: 0;
    padding: 1.65em .5em 1.465em;
    box-sizing: border-box;
    transition: transform .2s ease;
    .text {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0 .255em;
      transition:
        -webkit-backdrop-filter .225s cubic-bezier(.25,.15,.15,1),
        backdrop-filter .225s cubic-bezier(.25,.15,.15,1),
        background-color .225s cubic-bezier(.25,.15,.15,1);
      .icon-external-link {
        vertical-align: middle;
        // 0.813em = ~ 29px @ 1080p
        width: .813em;
        height: .813em;
        position: relative;
        bottom: .091em;
        margin-left: .196em;
      }
    }
  }
  .quick-links {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
    font-size: .975em;
    border-top: @border-width solid @gbl-box-quicklinks-border-top;
    .mode-transition.background();
    .mode-transition.border();
    @border-width: 3px;
    .link {
      position: relative;
      flex: 1;
      text-align: center;
      list-style: none;
      &::before {
        content: '';
        position: absolute;
        top: -@border-width;
        left: 0;
        bottom: 0;
        width: 0;
        opacity: 0;
        z-index: -1;
        background-color: @gbl-box-quicklinks-hover-background;
        border-top-color: @gbl-box-quicklinks-hover-border-top;
        border-radius: 1px;
        visibility: hidden;
        // animations are more robust than transitions, but for most rules it is fine (here: opacity)
        animation: linkShiftOut .1s ease;
        transition+: opacity .075s ease-in-out;
        .mode-transition.background();
        .mode-transition.border();
      }
      &:hover::before {
        visibility: visible;
        width: 100%;
        opacity: 1;
        animation: linkShiftIn .1s ease;
      }
      @keyframes linkShiftIn {
        from {
          width: 0%;
        }
      }
      @keyframes linkShiftOut {
        from {
          left: unset;
          right: 0;
          width: 100%;
          visibility: visible;
        }
        to {
          left: unset;
          right: 0;
          visibility: visible;
        }
      }
    }
    button {
      width: 100%;
      height: 100%;
      padding: .65em .25em;
      background: transparent;
      border: none;
      margin: 0;
      color: inherit;
      font: inherit;
      cursor: pointer;
      .focus({
        outline: none;
        box-shadow: inset 0 0 0 @focus-width @focus-color;
      }, {
        box-shadow: none;
      });
    }
  }

  @base-style-active-box: {
    box-shadow: @gbl-box-active-shadow-base @gbl-box-shadow-hover;
    .heading {
      transform: translateY(-@gbl-active-translateY);
      .text {
        background-color: @gbl-box-bg;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
      }
    }
    .description {
      transform: none;
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    @base-style-active-box();
    transform: translateY(-2px);
    .backdrop {
      -webkit-filter: blur(23px) brightness(79%);
      filter: blur(23px) brightness(79%);
    }
  }

  // Special style for touch-based devices
  @media (hover: none) {
    @base-style-active-box();
  }
}

// NOTE: These styles also override the normal active styles (:hover etc.)
html.light-mode .gbl-box {
  background-color: @gbl-box-bg--lt;
  box-shadow: @gbl-box-normal-shadow-base @gbl-box-shadow--lt;
  &.gbl-backdrop:not(.gbl-backdrop-transparent) {
    background-color: @gbl-box-backdrop-image-bg--lt;
  }
  .description {
    background-color: @gbl-box-descripton-backdrop-bg--lt;
  }

  .heading .text,
  .quick-links {
    background-color: @gbl-box-backdrop-bg--lt;
  }
  .quick-links {
    border-top-color: @gbl-box-quicklinks-border-top--lt;
    .link::before {
      background-color: @gbl-box-quicklinks-hover-background--lt;
      border-top-color: @gbl-box-quicklinks-hover-border-top--lt;
    }
  }
  &.gbl-backdrop-transparent .quick-links {
    .link::before {
      background-color: @gbl-box-quicklinks-hover-background-transparent--lt;
    }
  }

  @base-style-active-box--lt: {
    box-shadow: @gbl-box-active-shadow-base @gbl-box-shadow-hover--lt;
    .heading .text {
      background-color: @gbl-box-bg--lt;
    }
  }

  &:hover {
    @base-style-active-box--lt();
  }
  @media (hover: none) {
    @base-style-active-box--lt();
  }
}
