// main: ./main.less

main {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(10, 8rem);

  @media (max-width: 1500px) {
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(10, 8rem);

    .boxes > * {
      &:nth-child(1) {
        grid-column: 7 / 11;
      }
      &:nth-child(3) {
        grid-column: 9 / 13;
        grid-row: 5 / 9;
      }
      &:nth-child(4) {
        grid-column: 4 / 7;
      }
    }
    .main-text > * {
      &:nth-child(2) {
        grid-row: 1 / 3;
      }
      &:nth-child(3) {
        grid-column: 6 / 8;
      }
      &:nth-child(4) {
        grid-column: 8 / 10;
        grid-row: 1;
      }
    }
    .elements > * {
      &:nth-child(2) {
        grid-column: 8;
        grid-row: 5 / 8;
      }
      &:nth-child(3) {
        grid-column: 11 / 13;
      }
      &:nth-child(4) {
        grid-column: 4 / 6;
        grid-row: 6 / 8;
      }
      &:nth-child(6) {
        grid-column: 8 / 12;
        grid-row: 9;
      }
    }
  }

  @media (max-width: 1400px) {
    .main-text > * {
      &:nth-child(3) {
        grid-column: 7 / 9;
      }
    }
    .elements > * {
      &:nth-child(2) {
        grid-column: 1 / 4;
        grid-row: 8 / 10;
      }
      &:nth-child(4) {
        grid-column: 4 / 7;
      }
    }
  }

  @media (max-width: 1270px) {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 8rem);

    .boxes > * {
      &:nth-child(1) {
        grid-column: 3 / 7;
        align-self: end;
      }
      &:nth-child(2) {
        grid-column: 8 / 11;
        grid-row: 5 / 8;
      }
      &:nth-child(3) {
        grid-column: 1 / 4;
        grid-row: 7 / 10;
      }
      &:nth-child(4) {
        grid-column: 6 / 9;
        grid-row: 9 / 11;
      }
    }
    .main-text > * {
      &:nth-child(2) {
        grid-column: 3 / 5;
        grid-row: 5 / 7;
      }
      &:nth-child(3) {
        grid-column: 5;
        grid-row: 1;
      }
      &:nth-child(4) {
        grid-column: 8;
        grid-row: 3 / 5;
      }
      &:nth-child(5) {
        grid-row: 2;
      }
    }
    .elements > * {
      &:nth-child(2) {
        grid-column: 10;
        grid-row: 7 / 11;
      }
      &:nth-child(3) {
        grid-column: 7 / 10;
        grid-row: 1 / 3;
      }
      &:nth-child(4) {
        grid-column: 5 / 8;
        grid-row: 6 / 8;
      }
      &:nth-child(5) {
        grid-row: 5;
        justify-self: start;
      }
      &:nth-child(6) {
        grid-column: 1 / 5;
        grid-row: 10 / 12;
      }
    }
  }

  @media (max-width: 1150px) {
    .elements > * {
      &:nth-child(4) {
        grid-column: 5 / 7;
        grid-row: 7;
      }
    }
  }

  @media (max-width: 1020px) {
    margin: 2em 4.5vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 8rem);

    .boxes > * {
      &:nth-child(1) {
        grid-column: 3 / 6;
      }
      &:nth-child(2) {
        grid-column: 6 / 9;
        grid-row: 5 / 9;
      }
      &:nth-child(4) {
        grid-column: 5 / 9;
        grid-row: 10 / 13;
      }
    }
    .main-text > * {
      &:nth-child(3) {
        grid-column: 4 / 6;
      }
      &:nth-child(4) {
        grid-column: 6 / 8;
        grid-row: 3;
      }
      &:nth-child(5) {
        grid-row: 4 / 6;
      }
    }
    .elements > * {
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        .element-bg(6);
        grid-column: 6 / 9;
        justify-self: end;
      }
      &:nth-child(4) {
        grid-column: 4 / 8;
        grid-row: 8 / 10;
      }
      &:nth-child(6) {
        grid-row: 11;
      }
    }
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(14, 8rem);

    .boxes > * {
      &:nth-child(1) {
        grid-row: 2 / 5;
      }
      &:nth-child(2) {
        grid-column: 5 / 8;
      }
      &:nth-child(4) {
        grid-row: 11 / 15;
      }
    }
    .main-text > * {
      &:nth-child(1) {
        grid-column: 5 / 7;
        grid-row: 1;
        justify-self: auto;
      }
      &:nth-child(2) {
        grid-column: 1;
        grid-row: 2 / 4;
      }
      &:nth-child(3) {
        grid-column: 3;
        grid-row: 5 / 7;
      }
      &:nth-child(4) {
        grid-column: 6;
        grid-row: 8 / 10;
      }
      &:nth-child(5) {
        grid-column: 2;
        grid-row: 10 / 12;
      }
    }
    .elements > * {
      &:nth-child(3) {
        grid-row: 3 / 5;
      }
      &:nth-child(4) {
        grid-row: 9 / 12;
      }
      &:nth-child(6) {
        grid-column: 1 / 5;
        grid-row: 12 / 14;
        align-self: start;
        margin-right: 2.35rem;
      }
    }
  }

  @media (max-width: 720px) {
    grid-template-rows: repeat(15, 8rem);

    .boxes > * {
      &:nth-child(1) {
        grid-column: 3 / 7;
        grid-row: 2 / 5;
      }
      &:nth-child(2) {
        justify-self: end;
      }
      &:nth-child(3) {
        justify-self: start;
      }
      &:nth-child(4) {
        justify-self: end;
      }
    }
    .main-text > * {
      &:nth-child(1) {
        grid-column: 6 / -1;
        grid-row: 1;
        justify-self: start;
      }
      &:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
      }
    }
    .elements > * {
      &:nth-child(3) {
        grid-row: 9 / 12;
        grid-column: 4 / 8;
        justify-self: auto;
        margin-left: 5rem;
      }
      &:nth-child(4) {
        grid-column: 2 / 7;
        grid-row: 14 / 16;
        margin-top: 2rem;
      }
      &:nth-child(6) {
        margin-right: 4rem;
      }
    }
  }

  @media (max-width: 680px) {
    grid-template-rows: repeat(16, 8rem);

    .boxes > * {
      &:nth-child(3) {
        grid-row: 9 / 12;
      }
      &:nth-child(4) {
        grid-row: 12 / 15;
      }
    }
    .main-text > * {
      &:nth-child(3) {
        grid-column: 3;
        grid-row: 6;
      }
      &:nth-child(4) {
        grid-column: 2;
        grid-row: 7 / 9;
      }
      &:nth-child(5) {
        grid-column: 6;
        grid-row: 10 / 12;
      }
    }
    .elements > * {
      &:nth-child(3) {
        grid-row: 9;
      }
      &:nth-child(4) {
        grid-column: 1 / 4;
        grid-row: 12 / 15;
        margin-top: 0;
      }
      &:nth-child(6) {
        grid-row: 15 / 17;
        grid-column: 2 / 7;
        margin-right: 0;
        align-self: auto;
      }
    }
  }

  @media (max-width: 630px) {
    .boxes > * {
      &:nth-child(3) {
        grid-row: 8 / 12;
      }
      &:nth-child(4) {
        grid-row: 12 / 15;
      }
    }
    .main-text > * {
      &:nth-child(2) {
        grid-column: 1 / 3;
        justify-self: start;
      }
      &:nth-child(3) {
        grid-column: 2;
        grid-row: 7;
      }
      &:nth-child(4) {
        grid-column: 6 / -1;
        grid-row: 10 / 12;
        justify-self: start;
      }
      &:nth-child(5) {
        grid-column: 2;
        grid-row: 12;
      }
    }
    .elements > * {
      &:nth-child(3) {
        grid-column: 5 / -1;
        margin-left: 0;
      }
      &:nth-child(4) {
        grid-row: 13 / 15;
      }
      &:nth-child(5) {
        justify-self: auto;
      }
    }
  }

  @media (max-width: 600px) {
    .main-text > * {
      &:nth-child(5) {
        grid-column: 1 / 3;
      }
    }
    .elements > * {
      &:nth-child(3) {
        margin-left: 1rem;
      }
      &:nth-child(4) {
        margin-right: 3rem;
      }
    }
  }

  @media (max-width: @layout-width-step-vertical) {
    margin-right: 5vw;
    margin-left: 5vw;
    .boxes > * {
      &:nth-child(1) {
        grid-column: 1 / 6;
        justify-self: start;
      }
    }
    .main-text > * {
      &:nth-child(1) {
        grid-column: 2 / 4;
      }
      &:nth-child(2) {
        grid-column: -3 / -1;
        justify-self: auto;
        align-self: end;
      }
      &:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 7 / 9;
      }
    }
    .elements > * {
      &:nth-child(1) {
        grid-column: -4 / -1;
      }
      &:nth-child(3) {
        margin-left: 2rem;
      }
      &:nth-child(4) {
        margin-right: 4rem;
      }
      &:nth-child(5) {
        grid-row: 5 / 7;
      }
      &:nth-child(6) {
        grid-column: 1 / -1;
      }
    }
  }

  @media (max-width: 520px) {
    .elements > * {
      &:nth-child(3) {
        grid-column: -3 / -1;
        margin-left: 0;
        justify-self: end;
      }
      &:nth-child(4) {
        grid-column: 1 / 3;
        margin-right: 0;
        justify-self: start;
      }
    }
  }

  @media (max-width: 490px) {
    grid-template-rows: 8em repeat(22, 7rem);

    .boxes > * {
      &:nth-child(1) {
        grid-row: 2 / 6;
        grid-column: 1 / 7;
        justify-self: auto;
        align-self: auto;
      }
      &:nth-child(2) {
        grid-row: 7 / 11;
        grid-column: 2 / -1;
        justify-self: auto;
      }
      &:nth-child(3) {
        grid-row: 12 / 16;
        grid-column: 1 / 6;
        justify-self: auto;
      }
      &:nth-child(4) {
        grid-row: 17 / 21;
        grid-column: 1 / -1;
        justify-self: auto;
      }
    }
    .main-text > * {
      &:nth-child(1) {
        grid-column: 5 / -1;
        grid-row: 1 / 3;
      }
      &:nth-child(2) {
        grid-column: 2 / 4;
        grid-row: 6;
        align-self: auto;
      }
      &:nth-child(3) {
        grid-column: 5 / -1;
        grid-row: 11;
      }
      &:nth-child(4) {
        grid-column: 1 / 4;
        grid-row: 16;
        justify-self: auto;
      }
      &:nth-child(5) {
        grid-column: 3 / -1;
        grid-row: 20 / 22;
      }
    }
    .elements > * {
      &:nth-child(1) {
        grid-column: 1 / 4;
      }
      &:nth-child(3) {
        grid-column: 1 / 5;
        grid-row: 10 / 13;
        margin-left: 0;
        margin-top: 3rem;
      }
      &:nth-child(4) {
        grid-column: 3 / -1;
        grid-row: 15 / 18;
        justify-self: end;
        margin-right: 0;
        margin-bottom: 3rem;
      }
      &:nth-child(5) {
        grid-column: 5 / -1;
        grid-row: 5 / 8;
      }
      &:nth-child(6) {
        grid-row: 22 / 24;
      }
    }
  }

  @media (max-width: 400px) {
    gap: .5em 0;
    .boxes > {
      :nth-child(3) {
        justify-self: start;
      }
    }
    .main-text > {
      :nth-child(4) {
        grid-column: 1 / 3;
      }
    }
    .elements {
      :nth-child(3) {
        grid-column: 1 / 6;
        justify-self: auto;
      }
      :nth-child(4) {
        grid-column: 4 / -1;
      }
    }
  }
}

.boxes > * {
  &:nth-child(1) {
    grid-column: 7 / 10;
    grid-row: 2 / 5;
  }
  &:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 6;
  }
  &:nth-child(3) {
    grid-column: 12 / 15;
    grid-row: 5 / 7;
  }
  &:nth-child(4) {
    grid-column: 9 / 12;
    grid-row: 8 / 11;
  }
}

.main-text > * {
  &:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    justify-self: start;
  }
  &:nth-child(2) {
    grid-column: 4 / 6;
    grid-row: 1;
  }
  &:nth-child(3) {
    grid-column: 7 / 9;
    grid-row: 5 / 7;
  }
  &:nth-child(4) {
    grid-column: 10 / 13;
    grid-row: 1 / 3;
  }
  &:nth-child(5) {
    grid-column: -1;
    grid-row: 3 / 5;
  }
}

.elements > * {
  &:nth-child(1) {
    .element-bg(3, -1);
    grid-column: 1 / 3;
    grid-row: 1;
  }
  &:nth-child(2) {
    .element-bg(6);
    grid-column: 9 / 11;
    grid-row: 5 / 7;
    align-self: end;
  }
  &:nth-child(3) {
    .element-bg(5);
    grid-column: 13 / 16;
    grid-row: 2 / 3;
  }
  &:nth-child(4) {
    .element-bg(1);
    grid-column: 13 / 17;
    grid-row: 7 / 10;
  }
  &:nth-child(5) {
    .element-bg(4);
    grid-column: 1 / 3;
    grid-row: 6;
  }
  &:nth-child(6) {
    .element-bg(6, -1);
    grid-column: 4 / 8;
    grid-row: 8;
  }
}

// body.layout-2 {
//   .boxes > * {
//     &:nth-child(1) {
//       grid-column: 6 / 9;
//       grid-row: 2 / 6;
//     }
//     &:nth-child(2) {
//       grid-column: 2 / 6;
//       grid-row: 1 / 5;
//     }
//     &:nth-child(3) {
//       grid-column: 10 / 12;
//       grid-row: 1 / 4;
//     }
//     &:nth-child(4) {
//       grid-column: 6 / 9;
//       grid-row: 7 / 9;
//     }
//   }

//   .main-text > * {
//     &:nth-child(1) {
//       grid-column: 1;
//       grid-row: 2;
//     }
//     &:nth-child(2) {
//       grid-column: 4;
//       grid-row: 5;
//     }
//     &:nth-child(3) {
//       grid-column: 6 / 8;
//       grid-row: 1;
//     }
//     &:nth-child(4) {
//       grid-column: 10 / 12;
//       grid-row: 4;
//     }
//     &:nth-child(5) {
//       grid-column: 13;
//       grid-row: 2;
//     }
//   }
// }
