// out: ../../main.css

@import (reference) 'vars';

/* R-Flex by Vikers converted to WOFF2 */
@font-face {
  font-family: 'R-Flex';
  font-weight: bold;
  font-display: swap;
  src:
    local('RFlex'),
    local('RFlexBold'),
    local('RFlex-Bold'),
    url('/font/RFlex/RFlex-Bold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}
a {
  color: currentColor;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  &.init {
    .theme-toggle-btn {
      pointer-events: none;
    }
  }
  &.noselect {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  &.rainbow-mode {
    .rainbow-gradient(@rainbow-color-1);
  }
}
@keyframes RAINBOWMODE {
  0%   { background-position: 0 0 }
  100% { background-position: 100% 100% }
}

body.cell-mode {
  .element, .gbl-box {
    border: 1px solid black;
  }
  .main-text {
    -webkit-text-stroke: 1px black;
  }
}


main {
  margin: 2em 3.5em;
  min-height: 100vh;
  display: grid;
  gap: .65vmax;
}
main, .subgrid {
  justify-items: center;
  align-items: center;
}
.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  pointer-events: none;
  > * {
    pointer-events: auto;
  }
}


#theme-toggle, #theme-toggle .theme-toggle-btn {
  height: 100%;
  width: 100%;
}


.element {
  width: 65%;
  height: 65%;
  border-radius: @gbl-border-radius;
  padding: 1.25em 1.5em;
  box-shadow: 0 2px 16px hsla(0, 0%, 4%, 0.11);
  transition+:
    transform .175s ease,
    box-shadow .175s ease-in-out;
  .mode-transition.color();

  &:hover {
    box-shadow: 0 2px 20px hsla(0, 0%, 4%, 0.115);
    transform: scale(1.02);
  }

  body.init &,
  body.init-animation & {
    opacity: 0;
  }
  #for(6, {
    body.rainbow-mode &:nth-child(@{index}) {
      @list: 'rainbow-color-@{index}';
      .rainbow-gradient(@@list);
    }
  });
  div& {
    height: fit-content;
    min-width: fit-content;
  }
  ul {
    padding: 0 0 0 1em;
  }
  li {
    margin: .1em 0;
  }
  h3 {
    margin-top: 0;
  }
  a:hover {
    text-decoration: underline;
  }
}

.gbl-box {
  body.init & {
    opacity: 0;
  }

  @media (min-width: @layout-width-step-vertical + 1) {
    #for(4, {
      body.init-animation &:nth-child(@{index}) {
        // NOTE Sync this with the timings in `KnockbackAnim.js` when changing
        @delay: .64s * pow(@index, .13);
        animation: stamp .36s @delay cubic-bezier(.6,.1,.4,1) backwards;
      }
    });
  }

  @keyframes stamp {
    0% {
      pointer-events: none;
      opacity: 0;
      transform: scale(1.65);
    }
    66% {
      opacity: 1;
      transform: scale(.952);
    }
    100% {
      pointer-events: none;
    }
  }
}

.main-text {
  font-size: 9.25rem;
  font-weight: bold;
  font-family: 'R-Flex';
  .drop-shadow.text(@letter-shadow-length, @letter-shadow-start, 1px, @letter-shadow-end);
  .mode-transition.textshadow();
  .mode-transition.color();

  body.init & {
    opacity: 0;
  }
  html.light-mode & {
    color: @letter-color--lt;
    .drop-shadow.text(@letter-shadow-length, @letter-shadow-start--lt, 1px, @letter-shadow-end--lt);
  }

  #for(5, {
    > :nth-child(@{index}) {
      .letter-animation.generate(@index);
      &::selection {
        @color: extract(@rainbow-color-1, @index);
        @shadow-color-1: desaturate(darken(@color, 20%), 5%);
        @shadow-color-2: desaturate(darken(@color, 35%), 5%);
        color: @color;
        .drop-shadow.text(@letter-shadow-length, @shadow-color-1, 1px, @shadow-color-2);
      }
    }
  });

  > * {
    margin: -.35em 0 -.2em;
  }
}


// @wobbleAmount: .04em;
// @delayWobble: @delay + @index * .45s;
// wobble1 2s @delayWobble ease-in-out infinite alternate,
// wobble2 2.25s @delayWobble ease-in-out infinite alternate;

// @keyframes wobble1 {
//   to {
//     translate: @wobbleAmount; // About 7px @ 1080p
//   }
// }
// @keyframes wobble2 {
//   to {
//     transform: translate(0, -@wobbleAmount);
//   }
// }

@import 'layout';
