// main: ./main.less|../gbl-box.less

@import (reference) '../gbl-vars.less';

// Automatic shifting is not possible (See https://github.com/less/less.js/issues/3369)
@rainbow-color-1: #bc677b, #ea915e, #e2d269, #7fb265, #528eb4, #7559b8;
@rainbow-color-2: #ea915e, #e2d269, #7fb265, #528eb4, #7559b8, #bc677b;
@rainbow-color-3: #e2d269, #7fb265, #528eb4, #7559b8, #bc677b, #ea915e;
@rainbow-color-4: #7fb265, #528eb4, #7559b8, #bc677b, #ea915e, #e2d269;
@rainbow-color-5: #528eb4, #7559b8, #bc677b, #ea915e, #e2d269, #7fb265;
@rainbow-color-6: #7559b8, #bc677b, #ea915e, #e2d269, #7fb265, #528eb4;


@letter-color--lt: hsl(0, 0%, 8%);

@letter-shadow-start: hsl(0, 0%, 59%);
@letter-shadow-end: hsl(0, 0%, 30%);
@letter-shadow-start--lt: hsl(0, 0%, 44%);
@letter-shadow-end--lt: hsl(0, 0%, 65%);
@letter-shadow-length: 12px;

// NOTE Sync this with `main.js` when changing
@layout-width-step-vertical: 570px;


// --- Mixins ---
.letter-animation() {
  .generate(@index) {
    @keyframe-name-dark: e('transformInDark@{index}');
    @keyframe-name-light: e('transformInLight@{index}');

    @anim-translate: 210px;
    @anim-translate-recoil: -6px;
    @anim-translate-x: @anim-translate + ((@index + 2) * 10px);

    @delay: .13s * pow((@index + .7), .67);
    @animation: .530s @delay cubic-bezier(.4,.15,.2,1) backwards;

    @media (min-width: @layout-width-step-vertical + 1) {
      body.init-animation & {
        animation: @keyframe-name-dark @animation;
        html.light-mode & {
          animation: @keyframe-name-light @animation;
        }
      }
    }

    .letter-animation#keyframe(@keyframe-name-dark, @letter-shadow-start, @letter-shadow-end, @main-bg);
    .letter-animation#keyframe(@keyframe-name-light, @letter-shadow-start--lt, @letter-shadow-end--lt, @main-bg--lt);
  }

  #keyframe(@keyframe-name, @shadow-color-1, @shadow-color-2, @main-bg) {
    @keyframes @keyframe-name {
      0% {
        pointer-events: none;
        opacity: 0;
        transform: translate(@anim-translate-x, @anim-translate) scale(.825);
        text-shadow: none;
      }
      40% {
        opacity: 1;
      }
      45% {
        .drop-shadow.text(@letter-shadow-length, @shadow-color-1, 2px, @shadow-color-2);
        .drop-shadow.text(@anim-translate, @shadow-color-2, 2px, @main-bg, @letter-shadow-length);
      }
      76% {
        transform: translate(@anim-translate-recoil, @anim-translate-recoil);
      }
      90% {
        .drop-shadow.text(@letter-shadow-length, @shadow-color-1, 1px, @shadow-color-2);
      }
      100% {
        pointer-events: none;
      }
    }
  }
}

// NOTE: Shelfed (See https://github.com/less/less.js/issues/3369)
// .shift-list(@list, @shift-start, @it: 0) {
//   & when (@it < length(@list)) {
//     shifted-list+: extract(@list, mod(@it + @shift-start - 1, length(@list)) + 1);
//     .shift-list(@list, @shift-start, @it + 1);
//   }
// }

.rainbow-gradient(@gradient-list, @duration: 15s, @reverse: false) {
  @bg-size: (length(@gradient-list) + 1) * 100%;
  background-image: linear-gradient(to bottom right, @gradient-list, extract(@gradient-list, 1), extract(@gradient-list, 2));
  background-size: @bg-size @bg-size;
  animation: RAINBOWMODE @duration linear infinite if(@reverse, reverse);
}

.element-bg(@index, @second-color-offset: 1) {
  @fade: 37%;
  @color-1: fade(extract(@rainbow-color-1, @index), @fade);
  @color-2: fade(extract(@rainbow-color-1, mod(@index + @second-color-offset - 1, length(@rainbow-color-1)) + 1), @fade);
  background-image: linear-gradient(to bottom right, @color-1, @color-2);
}


// --- General utilities ---
.drop-shadow {
  .text(@amount, @color, @step: .5px, @targetColor: @color, @it: @step, @start: @it) {
    & when (@it < @amount) {
      text-shadow+: #shadow(@it, @start, @amount, @color, @targetColor)[@return];
      .drop-shadow.text(@amount, @color, @step, @targetColor, @it + @step, @start);
    }
  }
  .box(@amount, @color, @step: .5px, @targetColor: @color, @it: @step, @start: @it) {
    & when (@it < @amount) {
      box-shadow+: #shadow(@it, @start, @amount, @color, @targetColor)[@return];
      .drop-shadow.box(@amount, @color, @step, @targetColor, @it + @step, @start);
    }
  }

  #shadow(@it, @start, @amount, @color, @targetColor) {
    @return: @it @it mix(@targetColor, @color, ((@it - @start) / (@amount - @start) * 100));
  }
}

#for(@end-inclusive, @rule) {
  each(range(@end-inclusive), {
    // @index: 1 based
    // @index0: 0 based
    @index0: @index - 1;
    @rule();
  });
}
