#box-overview {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#gbl-box-menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.57em, 1fr));
  grid-gap: 1.942em;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
  padding: 2.64em 1.2em;
  box-sizing: border-box;
}
.gbl-box {
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: currentColor;
  width: 17em;
  height: 19.1em;
  font-size: max(1rem, min(1.15rem, calc(.2vw + .912rem)));
  border-radius: 28px;
  background-color: hsl(0, 0%, 11%);
  box-shadow: 0 2px 30px hsla(0, 0%, 4%, 0.15);
  box-sizing: border-box;
  transition: transform 0.2s cubic-bezier(0.35, 0.1, 0.2, 0.95), box-shadow 0.2s ease-out, color 0.15s linear, background 0.15s linear, box-shadow 0.15s linear;
}
.gbl-box .description {
  margin: -0.185rem 0 0;
  padding: 0.275em 1.172em;
  transform: translateY(0.185rem);
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(18px);
  background-color: hsla(0, 0%, 8%, 0.55);
  transition: transform 0.175s cubic-bezier(0.3, 0.15, 0.15, 1), opacity 0.1s ease-in-out, visibility 0.1s linear, background 0.15s linear;
}
.gbl-box .backdrop {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  image-rendering: optimizeQuality;
  image-rendering: -webkit-smooth;
  image-rendering: smooth;
  transition: -webkit-filter 0.225s cubic-bezier(0.35, 0.125, 0.15, 0.95), filter 0.225s cubic-bezier(0.35, 0.125, 0.15, 0.95);
}
.gbl-box .heading .text,
.gbl-box .quick-links {
  background-color: hsla(0, 0%, 11%, 0.675);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
}
.gbl-box .heading {
  font-size: 1.65em;
  margin: 0;
  padding: 1.65em 0.5em 1.465em;
  box-sizing: border-box;
  transition: transform 0.2s ease;
}
.gbl-box .heading .text {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 0.255em;
  transition: -webkit-backdrop-filter 0.225s cubic-bezier(0.25, 0.15, 0.15, 1), backdrop-filter 0.225s cubic-bezier(0.25, 0.15, 0.15, 1), background-color 0.225s cubic-bezier(0.25, 0.15, 0.15, 1);
}
.gbl-box .heading .text .icon-external-link {
  vertical-align: middle;
  width: 0.813em;
  height: 0.813em;
  position: relative;
  bottom: 0.091em;
  margin-left: 0.196em;
}
.gbl-box .quick-links {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  font-size: 0.975em;
  border-top: 3px solid hsla(0, 0%, 15.5%, 0.675);
  transition: background 0.15s linear, border 0.15s linear;
}
.gbl-box .quick-links .link {
  position: relative;
  flex: 1;
  text-align: center;
  list-style: none;
}
.gbl-box .quick-links .link::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  z-index: -1;
  background-color: hsla(0, 0%, 6.5%, 0.275);
  border-top-color: hsla(0, 0%, 18.5%, 0.275);
  border-radius: 1px;
  visibility: hidden;
  animation: linkShiftOut 0.1s ease;
  transition: opacity 0.075s ease-in-out, background 0.15s linear, border 0.15s linear;
}
.gbl-box .quick-links .link:hover::before {
  visibility: visible;
  width: 100%;
  opacity: 1;
  animation: linkShiftIn 0.1s ease;
}
@keyframes linkShiftIn {
  from {
    width: 0%;
  }
}
@keyframes linkShiftOut {
  from {
    left: unset;
    right: 0;
    width: 100%;
    visibility: visible;
  }
  to {
    left: unset;
    right: 0;
    visibility: visible;
  }
}
.gbl-box .quick-links button {
  width: 100%;
  height: 100%;
  padding: 0.65em 0.25em;
  background: transparent;
  border: none;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
.gbl-box .quick-links button:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #1960C9;
}
@supports selector(:focus-visible) or selector(:-moz-focusring) {
  .gbl-box .quick-links button:focus {
    box-shadow: none;
  }
}
.gbl-box .quick-links button:-moz-focusring {
  outline: none;
  box-shadow: inset 0 0 0 3px #1960C9;
}
.gbl-box .quick-links button:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #1960C9;
}
.gbl-box:hover {
  box-shadow: 0 1px 36px hsla(0, 0%, 4%, 0.175);
  transform: translateY(-2px);
}
.gbl-box:hover .heading {
  transform: translateY(-0.185rem);
}
.gbl-box:hover .heading .text {
  background-color: hsl(0, 0%, 11%);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}
.gbl-box:hover .description {
  transform: none;
  opacity: 1;
  visibility: visible;
}
.gbl-box:hover .backdrop {
  -webkit-filter: blur(23px) brightness(79%);
  filter: blur(23px) brightness(79%);
}
@media (hover: none) {
  .gbl-box {
    box-shadow: 0 1px 36px hsla(0, 0%, 4%, 0.175);
  }
  .gbl-box .heading {
    transform: translateY(-0.185rem);
  }
  .gbl-box .heading .text {
    background-color: hsl(0, 0%, 11%);
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  .gbl-box .description {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
}
html.light-mode .gbl-box {
  background-color: white;
  box-shadow: 0 2px 30px hsla(0, 0%, 4%, 0.085);
}
html.light-mode .gbl-box.gbl-backdrop:not(.gbl-backdrop-transparent) {
  background-color: #c2c2c2;
}
html.light-mode .gbl-box .description {
  background-color: rgba(255, 255, 255, 0.685);
}
html.light-mode .gbl-box .heading .text,
html.light-mode .gbl-box .quick-links {
  background-color: rgba(255, 255, 255, 0.7);
}
html.light-mode .gbl-box .quick-links {
  border-top-color: rgba(242, 242, 242, 0.7);
}
html.light-mode .gbl-box .quick-links .link::before {
  background-color: rgba(255, 255, 255, 0.275);
  border-top-color: rgba(235, 235, 235, 0.275);
}
html.light-mode .gbl-box.gbl-backdrop-transparent .quick-links .link::before {
  background-color: rgba(224, 224, 224, 0.275);
}
html.light-mode .gbl-box:hover {
  box-shadow: 0 1px 36px hsla(0, 0%, 4%, 0.11);
}
html.light-mode .gbl-box:hover .heading .text {
  background-color: white;
}
@media (hover: none) {
  html.light-mode .gbl-box {
    box-shadow: 0 1px 36px hsla(0, 0%, 4%, 0.11);
  }
  html.light-mode .gbl-box .heading .text {
    background-color: white;
  }
}
