/* R-Flex by Vikers converted to WOFF2 */
@font-face {
  font-family: 'R-Flex';
  font-weight: bold;
  font-display: swap;
  src: local('RFlex'), local('RFlexBold'), local('RFlex-Bold'), url('/font/RFlex/RFlex-Bold.woff2') format('woff2');
}
* {
  box-sizing: border-box;
}
a {
  color: currentColor;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
body.init .theme-toggle-btn {
  pointer-events: none;
}
body.noselect {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
body.rainbow-mode {
  background-image: linear-gradient(to bottom right, #bc677b, #ea915e, #e2d269, #7fb265, #528eb4, #7559b8, #bc677b, #ea915e);
  background-size: 700% 700%;
  animation: RAINBOWMODE 15s linear infinite ;
}
@keyframes RAINBOWMODE {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
body.cell-mode .element,
body.cell-mode .gbl-box {
  border: 1px solid black;
}
body.cell-mode .main-text {
  -webkit-text-stroke: 1px black;
}
main {
  margin: 2em 3.5em;
  min-height: 100vh;
  display: grid;
  gap: 0.65vmax;
}
main,
.subgrid {
  justify-items: center;
  align-items: center;
}
.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  pointer-events: none;
}
.subgrid > * {
  pointer-events: auto;
}
#theme-toggle,
#theme-toggle .theme-toggle-btn {
  height: 100%;
  width: 100%;
}
.element {
  width: 65%;
  height: 65%;
  border-radius: 28px;
  padding: 1.25em 1.5em;
  box-shadow: 0 2px 16px hsla(0, 0%, 4%, 0.11);
  transition: transform 0.175s ease, box-shadow 0.175s ease-in-out, color 0.15s linear;
}
.element:hover {
  box-shadow: 0 2px 20px hsla(0, 0%, 4%, 0.115);
  transform: scale(1.02);
}
body.init .element,
body.init-animation .element {
  opacity: 0;
}
body.rainbow-mode .element:nth-child(1) {
  background-image: linear-gradient(to bottom right, #bc677b, #ea915e, #e2d269, #7fb265, #528eb4, #7559b8, #bc677b, #ea915e);
  background-size: 700% 700%;
  animation: RAINBOWMODE 15s linear infinite ;
}
body.rainbow-mode .element:nth-child(2) {
  background-image: linear-gradient(to bottom right, #ea915e, #e2d269, #7fb265, #528eb4, #7559b8, #bc677b, #ea915e, #e2d269);
  background-size: 700% 700%;
  animation: RAINBOWMODE 15s linear infinite ;
}
body.rainbow-mode .element:nth-child(3) {
  background-image: linear-gradient(to bottom right, #e2d269, #7fb265, #528eb4, #7559b8, #bc677b, #ea915e, #e2d269, #7fb265);
  background-size: 700% 700%;
  animation: RAINBOWMODE 15s linear infinite ;
}
body.rainbow-mode .element:nth-child(4) {
  background-image: linear-gradient(to bottom right, #7fb265, #528eb4, #7559b8, #bc677b, #ea915e, #e2d269, #7fb265, #528eb4);
  background-size: 700% 700%;
  animation: RAINBOWMODE 15s linear infinite ;
}
body.rainbow-mode .element:nth-child(5) {
  background-image: linear-gradient(to bottom right, #528eb4, #7559b8, #bc677b, #ea915e, #e2d269, #7fb265, #528eb4, #7559b8);
  background-size: 700% 700%;
  animation: RAINBOWMODE 15s linear infinite ;
}
body.rainbow-mode .element:nth-child(6) {
  background-image: linear-gradient(to bottom right, #7559b8, #bc677b, #ea915e, #e2d269, #7fb265, #528eb4, #7559b8, #bc677b);
  background-size: 700% 700%;
  animation: RAINBOWMODE 15s linear infinite ;
}
div.element {
  height: fit-content;
  min-width: fit-content;
}
.element ul {
  padding: 0 0 0 1em;
}
.element li {
  margin: 0.1em 0;
}
.element h3 {
  margin-top: 0;
}
.element a:hover {
  text-decoration: underline;
}
body.init .gbl-box {
  opacity: 0;
}
@media (min-width: 571px) {
  body.init-animation .gbl-box:nth-child(1) {
    animation: stamp 0.36s 0.64s cubic-bezier(0.6, 0.1, 0.4, 1) backwards;
  }
  body.init-animation .gbl-box:nth-child(2) {
    animation: stamp 0.36s 0.70034797s cubic-bezier(0.6, 0.1, 0.4, 1) backwards;
  }
  body.init-animation .gbl-box:nth-child(3) {
    animation: stamp 0.36s 0.73825388s cubic-bezier(0.6, 0.1, 0.4, 1) backwards;
  }
  body.init-animation .gbl-box:nth-child(4) {
    animation: stamp 0.36s 0.76638637s cubic-bezier(0.6, 0.1, 0.4, 1) backwards;
  }
}
@keyframes stamp {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: scale(1.65);
  }
  66% {
    opacity: 1;
    transform: scale(0.952);
  }
  100% {
    pointer-events: none;
  }
}
.main-text {
  font-size: 9.25rem;
  font-weight: bold;
  font-family: 'R-Flex';
  text-shadow: 1px 1px #969696, 2px 2px #909090, 3px 3px #898989, 4px 4px #828282, 5px 5px #7c7c7c, 6px 6px #757575, 7px 7px #6e6e6e, 8px 8px #676767, 9px 9px #616161, 10px 10px #5a5a5a, 11px 11px #535353;
  transition: text-shadow 0.15s linear, color 0.15s linear;
}
body.init .main-text {
  opacity: 0;
}
html.light-mode .main-text {
  color: hsl(0, 0%, 8%);
  text-shadow: 1px 1px #707070, 2px 2px #757575, 3px 3px #7a7a7a, 4px 4px #7f7f7f, 5px 5px #848484, 6px 6px #898989, 7px 7px #8d8d8d, 8px 8px #929292, 9px 9px #979797, 10px 10px #9c9c9c, 11px 11px #a1a1a1;
}
@media (min-width: 571px) {
  body.init-animation .main-text > :nth-child(1) {
    animation: transformInDark1 0.53s 0.18550009s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
  html.light-mode body.init-animation .main-text > :nth-child(1) {
    animation: transformInLight1 0.53s 0.18550009s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
}
@keyframes transformInDark1 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(240px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #969696, 4px 4px #888888, 6px 6px #797979, 8px 8px #6a6a6a, 10px 10px #5b5b5b, 12px 12px #4d4d4d, 14px 14px #4c4c4c, 16px 16px #4b4b4b, 18px 18px #4b4b4b, 20px 20px #4a4a4a, 22px 22px #4a4a4a, 24px 24px #494949, 26px 26px #494949, 28px 28px #484848, 30px 30px #474747, 32px 32px #474747, 34px 34px #464646, 36px 36px #464646, 38px 38px #454545, 40px 40px #454545, 42px 42px #444444, 44px 44px #434343, 46px 46px #434343, 48px 48px #424242, 50px 50px #424242, 52px 52px #414141, 54px 54px #414141, 56px 56px #404040, 58px 58px #3f3f3f, 60px 60px #3f3f3f, 62px 62px #3e3e3e, 64px 64px #3e3e3e, 66px 66px #3d3d3d, 68px 68px #3d3d3d, 70px 70px #3c3c3c, 72px 72px #3c3c3c, 74px 74px #3b3b3b, 76px 76px #3a3a3a, 78px 78px #3a3a3a, 80px 80px #393939, 82px 82px #393939, 84px 84px #383838, 86px 86px #383838, 88px 88px #373737, 90px 90px #363636, 92px 92px #363636, 94px 94px #353535, 96px 96px #353535, 98px 98px #343434, 100px 100px #343434, 102px 102px #333333, 104px 104px #323232, 106px 106px #323232, 108px 108px #313131, 110px 110px #313131, 112px 112px #303030, 114px 114px #303030, 116px 116px #2f2f2f, 118px 118px #2e2e2e, 120px 120px #2e2e2e, 122px 122px #2d2d2d, 124px 124px #2d2d2d, 126px 126px #2c2c2c, 128px 128px #2c2c2c, 130px 130px #2b2b2b, 132px 132px #2b2b2b, 134px 134px #2a2a2a, 136px 136px #292929, 138px 138px #292929, 140px 140px #282828, 142px 142px #282828, 144px 144px #272727, 146px 146px #272727, 148px 148px #262626, 150px 150px #252525, 152px 152px #252525, 154px 154px #242424, 156px 156px #242424, 158px 158px #232323, 160px 160px #232323, 162px 162px #222222, 164px 164px #212121, 166px 166px #212121, 168px 168px #202020, 170px 170px #202020, 172px 172px #1f1f1f, 174px 174px #1f1f1f, 176px 176px #1e1e1e, 178px 178px #1d1d1d, 180px 180px #1d1d1d, 182px 182px #1c1c1c, 184px 184px #1c1c1c, 186px 186px #1b1b1b, 188px 188px #1b1b1b, 190px 190px #1a1a1a, 192px 192px #1a1a1a, 194px 194px #191919, 196px 196px #181818, 198px 198px #181818, 200px 200px #171717, 202px 202px #171717, 204px 204px #161616, 206px 206px #161616, 208px 208px #151515;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #969696, 2px 2px #909090, 3px 3px #898989, 4px 4px #828282, 5px 5px #7c7c7c, 6px 6px #757575, 7px 7px #6e6e6e, 8px 8px #676767, 9px 9px #616161, 10px 10px #5a5a5a, 11px 11px #535353;
  }
  100% {
    pointer-events: none;
  }
}
@keyframes transformInLight1 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(240px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #707070, 4px 4px #7b7b7b, 6px 6px #868686, 8px 8px #909090, 10px 10px #9b9b9b, 12px 12px #a6a6a6, 14px 14px #a7a7a7, 16px 16px #a8a8a8, 18px 18px #a8a8a8, 20px 20px #a9a9a9, 22px 22px #aaaaaa, 24px 24px #ababab, 26px 26px #acacac, 28px 28px #adadad, 30px 30px #aeaeae, 32px 32px #afafaf, 34px 34px #b0b0b0, 36px 36px #b1b1b1, 38px 38px #b1b1b1, 40px 40px #b2b2b2, 42px 42px #b3b3b3, 44px 44px #b4b4b4, 46px 46px #b5b5b5, 48px 48px #b6b6b6, 50px 50px #b7b7b7, 52px 52px #b8b8b8, 54px 54px #b9b9b9, 56px 56px #bababa, 58px 58px #bababa, 60px 60px #bbbbbb, 62px 62px #bcbcbc, 64px 64px #bdbdbd, 66px 66px #bebebe, 68px 68px #bfbfbf, 70px 70px #c0c0c0, 72px 72px #c1c1c1, 74px 74px #c2c2c2, 76px 76px #c3c3c3, 78px 78px #c4c4c4, 80px 80px #c4c4c4, 82px 82px #c5c5c5, 84px 84px #c6c6c6, 86px 86px #c7c7c7, 88px 88px #c8c8c8, 90px 90px #c9c9c9, 92px 92px #cacaca, 94px 94px #cbcbcb, 96px 96px #cccccc, 98px 98px #cdcdcd, 100px 100px #cdcdcd, 102px 102px #cecece, 104px 104px #cfcfcf, 106px 106px #d0d0d0, 108px 108px #d1d1d1, 110px 110px #d2d2d2, 112px 112px #d3d3d3, 114px 114px #d4d4d4, 116px 116px #d5d5d5, 118px 118px #d6d6d6, 120px 120px #d6d6d6, 122px 122px #d7d7d7, 124px 124px #d8d8d8, 126px 126px #d9d9d9, 128px 128px #dadada, 130px 130px #dbdbdb, 132px 132px #dcdcdc, 134px 134px #dddddd, 136px 136px #dedede, 138px 138px #dfdfdf, 140px 140px #dfdfdf, 142px 142px #e0e0e0, 144px 144px #e1e1e1, 146px 146px #e2e2e2, 148px 148px #e3e3e3, 150px 150px #e4e4e4, 152px 152px #e5e5e5, 154px 154px #e6e6e6, 156px 156px #e7e7e7, 158px 158px #e8e8e8, 160px 160px #e8e8e8, 162px 162px #e9e9e9, 164px 164px #eaeaea, 166px 166px #ebebeb, 168px 168px #ececec, 170px 170px #ededed, 172px 172px #eeeeee, 174px 174px #efefef, 176px 176px #f0f0f0, 178px 178px #f1f1f1, 180px 180px #f1f1f1, 182px 182px #f2f2f2, 184px 184px #f3f3f3, 186px 186px #f4f4f4, 188px 188px #f5f5f5, 190px 190px #f6f6f6, 192px 192px #f7f7f7, 194px 194px #f8f8f8, 196px 196px #f9f9f9, 198px 198px #fafafa, 200px 200px #fafafa, 202px 202px #fbfbfb, 204px 204px #fcfcfc, 206px 206px #fdfdfd, 208px 208px #fefefe;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #707070, 2px 2px #757575, 3px 3px #7a7a7a, 4px 4px #7f7f7f, 5px 5px #848484, 6px 6px #898989, 7px 7px #8d8d8d, 8px 8px #929292, 9px 9px #979797, 10px 10px #9c9c9c, 11px 11px #a1a1a1;
  }
  100% {
    pointer-events: none;
  }
}
.main-text > :nth-child(1)::selection {
  color: #bc677b;
  text-shadow: 1px 1px #7e3f4e, 2px 2px #7a3c4b, 3px 3px #753a48, 4px 4px #703845, 5px 5px #6c3542, 6px 6px #67333f, 7px 7px #63313c, 8px 8px #5e2e3a, 9px 9px #592c37, 10px 10px #552a34, 11px 11px #502831;
}
@media (min-width: 571px) {
  body.init-animation .main-text > :nth-child(2) {
    animation: transformInDark2 0.53s 0.2529048s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
  html.light-mode body.init-animation .main-text > :nth-child(2) {
    animation: transformInLight2 0.53s 0.2529048s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
}
@keyframes transformInDark2 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(250px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #969696, 4px 4px #888888, 6px 6px #797979, 8px 8px #6a6a6a, 10px 10px #5b5b5b, 12px 12px #4d4d4d, 14px 14px #4c4c4c, 16px 16px #4b4b4b, 18px 18px #4b4b4b, 20px 20px #4a4a4a, 22px 22px #4a4a4a, 24px 24px #494949, 26px 26px #494949, 28px 28px #484848, 30px 30px #474747, 32px 32px #474747, 34px 34px #464646, 36px 36px #464646, 38px 38px #454545, 40px 40px #454545, 42px 42px #444444, 44px 44px #434343, 46px 46px #434343, 48px 48px #424242, 50px 50px #424242, 52px 52px #414141, 54px 54px #414141, 56px 56px #404040, 58px 58px #3f3f3f, 60px 60px #3f3f3f, 62px 62px #3e3e3e, 64px 64px #3e3e3e, 66px 66px #3d3d3d, 68px 68px #3d3d3d, 70px 70px #3c3c3c, 72px 72px #3c3c3c, 74px 74px #3b3b3b, 76px 76px #3a3a3a, 78px 78px #3a3a3a, 80px 80px #393939, 82px 82px #393939, 84px 84px #383838, 86px 86px #383838, 88px 88px #373737, 90px 90px #363636, 92px 92px #363636, 94px 94px #353535, 96px 96px #353535, 98px 98px #343434, 100px 100px #343434, 102px 102px #333333, 104px 104px #323232, 106px 106px #323232, 108px 108px #313131, 110px 110px #313131, 112px 112px #303030, 114px 114px #303030, 116px 116px #2f2f2f, 118px 118px #2e2e2e, 120px 120px #2e2e2e, 122px 122px #2d2d2d, 124px 124px #2d2d2d, 126px 126px #2c2c2c, 128px 128px #2c2c2c, 130px 130px #2b2b2b, 132px 132px #2b2b2b, 134px 134px #2a2a2a, 136px 136px #292929, 138px 138px #292929, 140px 140px #282828, 142px 142px #282828, 144px 144px #272727, 146px 146px #272727, 148px 148px #262626, 150px 150px #252525, 152px 152px #252525, 154px 154px #242424, 156px 156px #242424, 158px 158px #232323, 160px 160px #232323, 162px 162px #222222, 164px 164px #212121, 166px 166px #212121, 168px 168px #202020, 170px 170px #202020, 172px 172px #1f1f1f, 174px 174px #1f1f1f, 176px 176px #1e1e1e, 178px 178px #1d1d1d, 180px 180px #1d1d1d, 182px 182px #1c1c1c, 184px 184px #1c1c1c, 186px 186px #1b1b1b, 188px 188px #1b1b1b, 190px 190px #1a1a1a, 192px 192px #1a1a1a, 194px 194px #191919, 196px 196px #181818, 198px 198px #181818, 200px 200px #171717, 202px 202px #171717, 204px 204px #161616, 206px 206px #161616, 208px 208px #151515;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #969696, 2px 2px #909090, 3px 3px #898989, 4px 4px #828282, 5px 5px #7c7c7c, 6px 6px #757575, 7px 7px #6e6e6e, 8px 8px #676767, 9px 9px #616161, 10px 10px #5a5a5a, 11px 11px #535353;
  }
  100% {
    pointer-events: none;
  }
}
@keyframes transformInLight2 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(250px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #707070, 4px 4px #7b7b7b, 6px 6px #868686, 8px 8px #909090, 10px 10px #9b9b9b, 12px 12px #a6a6a6, 14px 14px #a7a7a7, 16px 16px #a8a8a8, 18px 18px #a8a8a8, 20px 20px #a9a9a9, 22px 22px #aaaaaa, 24px 24px #ababab, 26px 26px #acacac, 28px 28px #adadad, 30px 30px #aeaeae, 32px 32px #afafaf, 34px 34px #b0b0b0, 36px 36px #b1b1b1, 38px 38px #b1b1b1, 40px 40px #b2b2b2, 42px 42px #b3b3b3, 44px 44px #b4b4b4, 46px 46px #b5b5b5, 48px 48px #b6b6b6, 50px 50px #b7b7b7, 52px 52px #b8b8b8, 54px 54px #b9b9b9, 56px 56px #bababa, 58px 58px #bababa, 60px 60px #bbbbbb, 62px 62px #bcbcbc, 64px 64px #bdbdbd, 66px 66px #bebebe, 68px 68px #bfbfbf, 70px 70px #c0c0c0, 72px 72px #c1c1c1, 74px 74px #c2c2c2, 76px 76px #c3c3c3, 78px 78px #c4c4c4, 80px 80px #c4c4c4, 82px 82px #c5c5c5, 84px 84px #c6c6c6, 86px 86px #c7c7c7, 88px 88px #c8c8c8, 90px 90px #c9c9c9, 92px 92px #cacaca, 94px 94px #cbcbcb, 96px 96px #cccccc, 98px 98px #cdcdcd, 100px 100px #cdcdcd, 102px 102px #cecece, 104px 104px #cfcfcf, 106px 106px #d0d0d0, 108px 108px #d1d1d1, 110px 110px #d2d2d2, 112px 112px #d3d3d3, 114px 114px #d4d4d4, 116px 116px #d5d5d5, 118px 118px #d6d6d6, 120px 120px #d6d6d6, 122px 122px #d7d7d7, 124px 124px #d8d8d8, 126px 126px #d9d9d9, 128px 128px #dadada, 130px 130px #dbdbdb, 132px 132px #dcdcdc, 134px 134px #dddddd, 136px 136px #dedede, 138px 138px #dfdfdf, 140px 140px #dfdfdf, 142px 142px #e0e0e0, 144px 144px #e1e1e1, 146px 146px #e2e2e2, 148px 148px #e3e3e3, 150px 150px #e4e4e4, 152px 152px #e5e5e5, 154px 154px #e6e6e6, 156px 156px #e7e7e7, 158px 158px #e8e8e8, 160px 160px #e8e8e8, 162px 162px #e9e9e9, 164px 164px #eaeaea, 166px 166px #ebebeb, 168px 168px #ececec, 170px 170px #ededed, 172px 172px #eeeeee, 174px 174px #efefef, 176px 176px #f0f0f0, 178px 178px #f1f1f1, 180px 180px #f1f1f1, 182px 182px #f2f2f2, 184px 184px #f3f3f3, 186px 186px #f4f4f4, 188px 188px #f5f5f5, 190px 190px #f6f6f6, 192px 192px #f7f7f7, 194px 194px #f8f8f8, 196px 196px #f9f9f9, 198px 198px #fafafa, 200px 200px #fafafa, 202px 202px #fbfbfb, 204px 204px #fcfcfc, 206px 206px #fdfdfd, 208px 208px #fefefe;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #707070, 2px 2px #757575, 3px 3px #7a7a7a, 4px 4px #7f7f7f, 5px 5px #848484, 6px 6px #898989, 7px 7px #8d8d8d, 8px 8px #929292, 9px 9px #979797, 10px 10px #9c9c9c, 11px 11px #a1a1a1;
  }
  100% {
    pointer-events: none;
  }
}
.main-text > :nth-child(2)::selection {
  color: #ea915e;
  text-shadow: 1px 1px #c25b20, 2px 2px #bc581f, 3px 3px #b6551e, 4px 4px #b0531d, 5px 5px #aa501c, 6px 6px #a44d1b, 7px 7px #9e4a1a, 8px 8px #984719, 9px 9px #924518, 10px 10px #8c4217, 11px 11px #863f16;
}
@media (min-width: 571px) {
  body.init-animation .main-text > :nth-child(3) {
    animation: transformInDark3 0.53s 0.31234784s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
  html.light-mode body.init-animation .main-text > :nth-child(3) {
    animation: transformInLight3 0.53s 0.31234784s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
}
@keyframes transformInDark3 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(260px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #969696, 4px 4px #888888, 6px 6px #797979, 8px 8px #6a6a6a, 10px 10px #5b5b5b, 12px 12px #4d4d4d, 14px 14px #4c4c4c, 16px 16px #4b4b4b, 18px 18px #4b4b4b, 20px 20px #4a4a4a, 22px 22px #4a4a4a, 24px 24px #494949, 26px 26px #494949, 28px 28px #484848, 30px 30px #474747, 32px 32px #474747, 34px 34px #464646, 36px 36px #464646, 38px 38px #454545, 40px 40px #454545, 42px 42px #444444, 44px 44px #434343, 46px 46px #434343, 48px 48px #424242, 50px 50px #424242, 52px 52px #414141, 54px 54px #414141, 56px 56px #404040, 58px 58px #3f3f3f, 60px 60px #3f3f3f, 62px 62px #3e3e3e, 64px 64px #3e3e3e, 66px 66px #3d3d3d, 68px 68px #3d3d3d, 70px 70px #3c3c3c, 72px 72px #3c3c3c, 74px 74px #3b3b3b, 76px 76px #3a3a3a, 78px 78px #3a3a3a, 80px 80px #393939, 82px 82px #393939, 84px 84px #383838, 86px 86px #383838, 88px 88px #373737, 90px 90px #363636, 92px 92px #363636, 94px 94px #353535, 96px 96px #353535, 98px 98px #343434, 100px 100px #343434, 102px 102px #333333, 104px 104px #323232, 106px 106px #323232, 108px 108px #313131, 110px 110px #313131, 112px 112px #303030, 114px 114px #303030, 116px 116px #2f2f2f, 118px 118px #2e2e2e, 120px 120px #2e2e2e, 122px 122px #2d2d2d, 124px 124px #2d2d2d, 126px 126px #2c2c2c, 128px 128px #2c2c2c, 130px 130px #2b2b2b, 132px 132px #2b2b2b, 134px 134px #2a2a2a, 136px 136px #292929, 138px 138px #292929, 140px 140px #282828, 142px 142px #282828, 144px 144px #272727, 146px 146px #272727, 148px 148px #262626, 150px 150px #252525, 152px 152px #252525, 154px 154px #242424, 156px 156px #242424, 158px 158px #232323, 160px 160px #232323, 162px 162px #222222, 164px 164px #212121, 166px 166px #212121, 168px 168px #202020, 170px 170px #202020, 172px 172px #1f1f1f, 174px 174px #1f1f1f, 176px 176px #1e1e1e, 178px 178px #1d1d1d, 180px 180px #1d1d1d, 182px 182px #1c1c1c, 184px 184px #1c1c1c, 186px 186px #1b1b1b, 188px 188px #1b1b1b, 190px 190px #1a1a1a, 192px 192px #1a1a1a, 194px 194px #191919, 196px 196px #181818, 198px 198px #181818, 200px 200px #171717, 202px 202px #171717, 204px 204px #161616, 206px 206px #161616, 208px 208px #151515;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #969696, 2px 2px #909090, 3px 3px #898989, 4px 4px #828282, 5px 5px #7c7c7c, 6px 6px #757575, 7px 7px #6e6e6e, 8px 8px #676767, 9px 9px #616161, 10px 10px #5a5a5a, 11px 11px #535353;
  }
  100% {
    pointer-events: none;
  }
}
@keyframes transformInLight3 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(260px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #707070, 4px 4px #7b7b7b, 6px 6px #868686, 8px 8px #909090, 10px 10px #9b9b9b, 12px 12px #a6a6a6, 14px 14px #a7a7a7, 16px 16px #a8a8a8, 18px 18px #a8a8a8, 20px 20px #a9a9a9, 22px 22px #aaaaaa, 24px 24px #ababab, 26px 26px #acacac, 28px 28px #adadad, 30px 30px #aeaeae, 32px 32px #afafaf, 34px 34px #b0b0b0, 36px 36px #b1b1b1, 38px 38px #b1b1b1, 40px 40px #b2b2b2, 42px 42px #b3b3b3, 44px 44px #b4b4b4, 46px 46px #b5b5b5, 48px 48px #b6b6b6, 50px 50px #b7b7b7, 52px 52px #b8b8b8, 54px 54px #b9b9b9, 56px 56px #bababa, 58px 58px #bababa, 60px 60px #bbbbbb, 62px 62px #bcbcbc, 64px 64px #bdbdbd, 66px 66px #bebebe, 68px 68px #bfbfbf, 70px 70px #c0c0c0, 72px 72px #c1c1c1, 74px 74px #c2c2c2, 76px 76px #c3c3c3, 78px 78px #c4c4c4, 80px 80px #c4c4c4, 82px 82px #c5c5c5, 84px 84px #c6c6c6, 86px 86px #c7c7c7, 88px 88px #c8c8c8, 90px 90px #c9c9c9, 92px 92px #cacaca, 94px 94px #cbcbcb, 96px 96px #cccccc, 98px 98px #cdcdcd, 100px 100px #cdcdcd, 102px 102px #cecece, 104px 104px #cfcfcf, 106px 106px #d0d0d0, 108px 108px #d1d1d1, 110px 110px #d2d2d2, 112px 112px #d3d3d3, 114px 114px #d4d4d4, 116px 116px #d5d5d5, 118px 118px #d6d6d6, 120px 120px #d6d6d6, 122px 122px #d7d7d7, 124px 124px #d8d8d8, 126px 126px #d9d9d9, 128px 128px #dadada, 130px 130px #dbdbdb, 132px 132px #dcdcdc, 134px 134px #dddddd, 136px 136px #dedede, 138px 138px #dfdfdf, 140px 140px #dfdfdf, 142px 142px #e0e0e0, 144px 144px #e1e1e1, 146px 146px #e2e2e2, 148px 148px #e3e3e3, 150px 150px #e4e4e4, 152px 152px #e5e5e5, 154px 154px #e6e6e6, 156px 156px #e7e7e7, 158px 158px #e8e8e8, 160px 160px #e8e8e8, 162px 162px #e9e9e9, 164px 164px #eaeaea, 166px 166px #ebebeb, 168px 168px #ececec, 170px 170px #ededed, 172px 172px #eeeeee, 174px 174px #efefef, 176px 176px #f0f0f0, 178px 178px #f1f1f1, 180px 180px #f1f1f1, 182px 182px #f2f2f2, 184px 184px #f3f3f3, 186px 186px #f4f4f4, 188px 188px #f5f5f5, 190px 190px #f6f6f6, 192px 192px #f7f7f7, 194px 194px #f8f8f8, 196px 196px #f9f9f9, 198px 198px #fafafa, 200px 200px #fafafa, 202px 202px #fbfbfb, 204px 204px #fcfcfc, 206px 206px #fdfdfd, 208px 208px #fefefe;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #707070, 2px 2px #757575, 3px 3px #7a7a7a, 4px 4px #7f7f7f, 5px 5px #848484, 6px 6px #898989, 7px 7px #8d8d8d, 8px 8px #929292, 9px 9px #979797, 10px 10px #9c9c9c, 11px 11px #a1a1a1;
  }
  100% {
    pointer-events: none;
  }
}
.main-text > :nth-child(3)::selection {
  color: #e2d269;
  text-shadow: 1px 1px #baa72b, 2px 2px #b5a22a, 3px 3px #af9d28, 4px 4px #a99827, 5px 5px #a49326, 6px 6px #9e8e24, 7px 7px #988923, 8px 8px #938422, 9px 9px #8d7f20, 10px 10px #877a1f, 11px 11px #82741e;
}
@media (min-width: 571px) {
  body.init-animation .main-text > :nth-child(4) {
    animation: transformInDark4 0.53s 0.36664766s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
  html.light-mode body.init-animation .main-text > :nth-child(4) {
    animation: transformInLight4 0.53s 0.36664766s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
}
@keyframes transformInDark4 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(270px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #969696, 4px 4px #888888, 6px 6px #797979, 8px 8px #6a6a6a, 10px 10px #5b5b5b, 12px 12px #4d4d4d, 14px 14px #4c4c4c, 16px 16px #4b4b4b, 18px 18px #4b4b4b, 20px 20px #4a4a4a, 22px 22px #4a4a4a, 24px 24px #494949, 26px 26px #494949, 28px 28px #484848, 30px 30px #474747, 32px 32px #474747, 34px 34px #464646, 36px 36px #464646, 38px 38px #454545, 40px 40px #454545, 42px 42px #444444, 44px 44px #434343, 46px 46px #434343, 48px 48px #424242, 50px 50px #424242, 52px 52px #414141, 54px 54px #414141, 56px 56px #404040, 58px 58px #3f3f3f, 60px 60px #3f3f3f, 62px 62px #3e3e3e, 64px 64px #3e3e3e, 66px 66px #3d3d3d, 68px 68px #3d3d3d, 70px 70px #3c3c3c, 72px 72px #3c3c3c, 74px 74px #3b3b3b, 76px 76px #3a3a3a, 78px 78px #3a3a3a, 80px 80px #393939, 82px 82px #393939, 84px 84px #383838, 86px 86px #383838, 88px 88px #373737, 90px 90px #363636, 92px 92px #363636, 94px 94px #353535, 96px 96px #353535, 98px 98px #343434, 100px 100px #343434, 102px 102px #333333, 104px 104px #323232, 106px 106px #323232, 108px 108px #313131, 110px 110px #313131, 112px 112px #303030, 114px 114px #303030, 116px 116px #2f2f2f, 118px 118px #2e2e2e, 120px 120px #2e2e2e, 122px 122px #2d2d2d, 124px 124px #2d2d2d, 126px 126px #2c2c2c, 128px 128px #2c2c2c, 130px 130px #2b2b2b, 132px 132px #2b2b2b, 134px 134px #2a2a2a, 136px 136px #292929, 138px 138px #292929, 140px 140px #282828, 142px 142px #282828, 144px 144px #272727, 146px 146px #272727, 148px 148px #262626, 150px 150px #252525, 152px 152px #252525, 154px 154px #242424, 156px 156px #242424, 158px 158px #232323, 160px 160px #232323, 162px 162px #222222, 164px 164px #212121, 166px 166px #212121, 168px 168px #202020, 170px 170px #202020, 172px 172px #1f1f1f, 174px 174px #1f1f1f, 176px 176px #1e1e1e, 178px 178px #1d1d1d, 180px 180px #1d1d1d, 182px 182px #1c1c1c, 184px 184px #1c1c1c, 186px 186px #1b1b1b, 188px 188px #1b1b1b, 190px 190px #1a1a1a, 192px 192px #1a1a1a, 194px 194px #191919, 196px 196px #181818, 198px 198px #181818, 200px 200px #171717, 202px 202px #171717, 204px 204px #161616, 206px 206px #161616, 208px 208px #151515;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #969696, 2px 2px #909090, 3px 3px #898989, 4px 4px #828282, 5px 5px #7c7c7c, 6px 6px #757575, 7px 7px #6e6e6e, 8px 8px #676767, 9px 9px #616161, 10px 10px #5a5a5a, 11px 11px #535353;
  }
  100% {
    pointer-events: none;
  }
}
@keyframes transformInLight4 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(270px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #707070, 4px 4px #7b7b7b, 6px 6px #868686, 8px 8px #909090, 10px 10px #9b9b9b, 12px 12px #a6a6a6, 14px 14px #a7a7a7, 16px 16px #a8a8a8, 18px 18px #a8a8a8, 20px 20px #a9a9a9, 22px 22px #aaaaaa, 24px 24px #ababab, 26px 26px #acacac, 28px 28px #adadad, 30px 30px #aeaeae, 32px 32px #afafaf, 34px 34px #b0b0b0, 36px 36px #b1b1b1, 38px 38px #b1b1b1, 40px 40px #b2b2b2, 42px 42px #b3b3b3, 44px 44px #b4b4b4, 46px 46px #b5b5b5, 48px 48px #b6b6b6, 50px 50px #b7b7b7, 52px 52px #b8b8b8, 54px 54px #b9b9b9, 56px 56px #bababa, 58px 58px #bababa, 60px 60px #bbbbbb, 62px 62px #bcbcbc, 64px 64px #bdbdbd, 66px 66px #bebebe, 68px 68px #bfbfbf, 70px 70px #c0c0c0, 72px 72px #c1c1c1, 74px 74px #c2c2c2, 76px 76px #c3c3c3, 78px 78px #c4c4c4, 80px 80px #c4c4c4, 82px 82px #c5c5c5, 84px 84px #c6c6c6, 86px 86px #c7c7c7, 88px 88px #c8c8c8, 90px 90px #c9c9c9, 92px 92px #cacaca, 94px 94px #cbcbcb, 96px 96px #cccccc, 98px 98px #cdcdcd, 100px 100px #cdcdcd, 102px 102px #cecece, 104px 104px #cfcfcf, 106px 106px #d0d0d0, 108px 108px #d1d1d1, 110px 110px #d2d2d2, 112px 112px #d3d3d3, 114px 114px #d4d4d4, 116px 116px #d5d5d5, 118px 118px #d6d6d6, 120px 120px #d6d6d6, 122px 122px #d7d7d7, 124px 124px #d8d8d8, 126px 126px #d9d9d9, 128px 128px #dadada, 130px 130px #dbdbdb, 132px 132px #dcdcdc, 134px 134px #dddddd, 136px 136px #dedede, 138px 138px #dfdfdf, 140px 140px #dfdfdf, 142px 142px #e0e0e0, 144px 144px #e1e1e1, 146px 146px #e2e2e2, 148px 148px #e3e3e3, 150px 150px #e4e4e4, 152px 152px #e5e5e5, 154px 154px #e6e6e6, 156px 156px #e7e7e7, 158px 158px #e8e8e8, 160px 160px #e8e8e8, 162px 162px #e9e9e9, 164px 164px #eaeaea, 166px 166px #ebebeb, 168px 168px #ececec, 170px 170px #ededed, 172px 172px #eeeeee, 174px 174px #efefef, 176px 176px #f0f0f0, 178px 178px #f1f1f1, 180px 180px #f1f1f1, 182px 182px #f2f2f2, 184px 184px #f3f3f3, 186px 186px #f4f4f4, 188px 188px #f5f5f5, 190px 190px #f6f6f6, 192px 192px #f7f7f7, 194px 194px #f8f8f8, 196px 196px #f9f9f9, 198px 198px #fafafa, 200px 200px #fafafa, 202px 202px #fbfbfb, 204px 204px #fcfcfc, 206px 206px #fdfdfd, 208px 208px #fefefe;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #707070, 2px 2px #757575, 3px 3px #7a7a7a, 4px 4px #7f7f7f, 5px 5px #848484, 6px 6px #898989, 7px 7px #8d8d8d, 8px 8px #929292, 9px 9px #979797, 10px 10px #9c9c9c, 11px 11px #a1a1a1;
  }
  100% {
    pointer-events: none;
  }
}
.main-text > :nth-child(4)::selection {
  color: #7fb265;
  text-shadow: 1px 1px #50723f, 2px 2px #4d6d3d, 3px 3px #4a693a, 4px 4px #476438, 5px 5px #446035, 6px 6px #415b33, 7px 7px #3d5730, 8px 8px #3a522e, 9px 9px #374e2b, 10px 10px #344929, 11px 11px #314527;
}
@media (min-width: 571px) {
  body.init-animation .main-text > :nth-child(5) {
    animation: transformInDark5 0.53s 0.41723382s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
  html.light-mode body.init-animation .main-text > :nth-child(5) {
    animation: transformInLight5 0.53s 0.41723382s cubic-bezier(0.4, 0.15, 0.2, 1) backwards;
  }
}
@keyframes transformInDark5 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(280px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #969696, 4px 4px #888888, 6px 6px #797979, 8px 8px #6a6a6a, 10px 10px #5b5b5b, 12px 12px #4d4d4d, 14px 14px #4c4c4c, 16px 16px #4b4b4b, 18px 18px #4b4b4b, 20px 20px #4a4a4a, 22px 22px #4a4a4a, 24px 24px #494949, 26px 26px #494949, 28px 28px #484848, 30px 30px #474747, 32px 32px #474747, 34px 34px #464646, 36px 36px #464646, 38px 38px #454545, 40px 40px #454545, 42px 42px #444444, 44px 44px #434343, 46px 46px #434343, 48px 48px #424242, 50px 50px #424242, 52px 52px #414141, 54px 54px #414141, 56px 56px #404040, 58px 58px #3f3f3f, 60px 60px #3f3f3f, 62px 62px #3e3e3e, 64px 64px #3e3e3e, 66px 66px #3d3d3d, 68px 68px #3d3d3d, 70px 70px #3c3c3c, 72px 72px #3c3c3c, 74px 74px #3b3b3b, 76px 76px #3a3a3a, 78px 78px #3a3a3a, 80px 80px #393939, 82px 82px #393939, 84px 84px #383838, 86px 86px #383838, 88px 88px #373737, 90px 90px #363636, 92px 92px #363636, 94px 94px #353535, 96px 96px #353535, 98px 98px #343434, 100px 100px #343434, 102px 102px #333333, 104px 104px #323232, 106px 106px #323232, 108px 108px #313131, 110px 110px #313131, 112px 112px #303030, 114px 114px #303030, 116px 116px #2f2f2f, 118px 118px #2e2e2e, 120px 120px #2e2e2e, 122px 122px #2d2d2d, 124px 124px #2d2d2d, 126px 126px #2c2c2c, 128px 128px #2c2c2c, 130px 130px #2b2b2b, 132px 132px #2b2b2b, 134px 134px #2a2a2a, 136px 136px #292929, 138px 138px #292929, 140px 140px #282828, 142px 142px #282828, 144px 144px #272727, 146px 146px #272727, 148px 148px #262626, 150px 150px #252525, 152px 152px #252525, 154px 154px #242424, 156px 156px #242424, 158px 158px #232323, 160px 160px #232323, 162px 162px #222222, 164px 164px #212121, 166px 166px #212121, 168px 168px #202020, 170px 170px #202020, 172px 172px #1f1f1f, 174px 174px #1f1f1f, 176px 176px #1e1e1e, 178px 178px #1d1d1d, 180px 180px #1d1d1d, 182px 182px #1c1c1c, 184px 184px #1c1c1c, 186px 186px #1b1b1b, 188px 188px #1b1b1b, 190px 190px #1a1a1a, 192px 192px #1a1a1a, 194px 194px #191919, 196px 196px #181818, 198px 198px #181818, 200px 200px #171717, 202px 202px #171717, 204px 204px #161616, 206px 206px #161616, 208px 208px #151515;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #969696, 2px 2px #909090, 3px 3px #898989, 4px 4px #828282, 5px 5px #7c7c7c, 6px 6px #757575, 7px 7px #6e6e6e, 8px 8px #676767, 9px 9px #616161, 10px 10px #5a5a5a, 11px 11px #535353;
  }
  100% {
    pointer-events: none;
  }
}
@keyframes transformInLight5 {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(280px, 210px) scale(0.825);
    text-shadow: none;
  }
  40% {
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px #707070, 4px 4px #7b7b7b, 6px 6px #868686, 8px 8px #909090, 10px 10px #9b9b9b, 12px 12px #a6a6a6, 14px 14px #a7a7a7, 16px 16px #a8a8a8, 18px 18px #a8a8a8, 20px 20px #a9a9a9, 22px 22px #aaaaaa, 24px 24px #ababab, 26px 26px #acacac, 28px 28px #adadad, 30px 30px #aeaeae, 32px 32px #afafaf, 34px 34px #b0b0b0, 36px 36px #b1b1b1, 38px 38px #b1b1b1, 40px 40px #b2b2b2, 42px 42px #b3b3b3, 44px 44px #b4b4b4, 46px 46px #b5b5b5, 48px 48px #b6b6b6, 50px 50px #b7b7b7, 52px 52px #b8b8b8, 54px 54px #b9b9b9, 56px 56px #bababa, 58px 58px #bababa, 60px 60px #bbbbbb, 62px 62px #bcbcbc, 64px 64px #bdbdbd, 66px 66px #bebebe, 68px 68px #bfbfbf, 70px 70px #c0c0c0, 72px 72px #c1c1c1, 74px 74px #c2c2c2, 76px 76px #c3c3c3, 78px 78px #c4c4c4, 80px 80px #c4c4c4, 82px 82px #c5c5c5, 84px 84px #c6c6c6, 86px 86px #c7c7c7, 88px 88px #c8c8c8, 90px 90px #c9c9c9, 92px 92px #cacaca, 94px 94px #cbcbcb, 96px 96px #cccccc, 98px 98px #cdcdcd, 100px 100px #cdcdcd, 102px 102px #cecece, 104px 104px #cfcfcf, 106px 106px #d0d0d0, 108px 108px #d1d1d1, 110px 110px #d2d2d2, 112px 112px #d3d3d3, 114px 114px #d4d4d4, 116px 116px #d5d5d5, 118px 118px #d6d6d6, 120px 120px #d6d6d6, 122px 122px #d7d7d7, 124px 124px #d8d8d8, 126px 126px #d9d9d9, 128px 128px #dadada, 130px 130px #dbdbdb, 132px 132px #dcdcdc, 134px 134px #dddddd, 136px 136px #dedede, 138px 138px #dfdfdf, 140px 140px #dfdfdf, 142px 142px #e0e0e0, 144px 144px #e1e1e1, 146px 146px #e2e2e2, 148px 148px #e3e3e3, 150px 150px #e4e4e4, 152px 152px #e5e5e5, 154px 154px #e6e6e6, 156px 156px #e7e7e7, 158px 158px #e8e8e8, 160px 160px #e8e8e8, 162px 162px #e9e9e9, 164px 164px #eaeaea, 166px 166px #ebebeb, 168px 168px #ececec, 170px 170px #ededed, 172px 172px #eeeeee, 174px 174px #efefef, 176px 176px #f0f0f0, 178px 178px #f1f1f1, 180px 180px #f1f1f1, 182px 182px #f2f2f2, 184px 184px #f3f3f3, 186px 186px #f4f4f4, 188px 188px #f5f5f5, 190px 190px #f6f6f6, 192px 192px #f7f7f7, 194px 194px #f8f8f8, 196px 196px #f9f9f9, 198px 198px #fafafa, 200px 200px #fafafa, 202px 202px #fbfbfb, 204px 204px #fcfcfc, 206px 206px #fdfdfd, 208px 208px #fefefe;
  }
  76% {
    transform: translate(-6px, -6px);
  }
  90% {
    text-shadow: 1px 1px #707070, 2px 2px #757575, 3px 3px #7a7a7a, 4px 4px #7f7f7f, 5px 5px #848484, 6px 6px #898989, 7px 7px #8d8d8d, 8px 8px #929292, 9px 9px #979797, 10px 10px #9c9c9c, 11px 11px #a1a1a1;
  }
  100% {
    pointer-events: none;
  }
}
.main-text > :nth-child(5)::selection {
  color: #528eb4;
  text-shadow: 1px 1px #34566c, 2px 2px #325267, 3px 3px #304f62, 4px 4px #2e4b5e, 5px 5px #2b4759, 6px 6px #294354, 7px 7px #274050, 8px 8px #243c4b, 9px 9px #223846, 10px 10px #203442, 11px 11px #1e313d;
}
.main-text > * {
  margin: -0.35em 0 -0.2em;
}
main {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(10, 8rem);
}
@media (max-width: 1500px) {
  main {
    grid-template-columns: repeat(12, 1fr);
  }
  main .boxes > *:nth-child(1) {
    grid-column: 7 / 11;
  }
  main .boxes > *:nth-child(3) {
    grid-column: 9 / 13;
    grid-row: 5 / 9;
  }
  main .boxes > *:nth-child(4) {
    grid-column: 4 / 7;
  }
  main .main-text > *:nth-child(2) {
    grid-row: 1 / 3;
  }
  main .main-text > *:nth-child(3) {
    grid-column: 6 / 8;
  }
  main .main-text > *:nth-child(4) {
    grid-column: 8 / 10;
    grid-row: 1;
  }
  main .elements > *:nth-child(2) {
    grid-column: 8;
    grid-row: 5 / 8;
  }
  main .elements > *:nth-child(3) {
    grid-column: 11 / 13;
  }
  main .elements > *:nth-child(4) {
    grid-column: 4 / 6;
    grid-row: 6 / 8;
  }
  main .elements > *:nth-child(6) {
    grid-column: 8 / 12;
    grid-row: 9;
  }
}
@media (max-width: 1400px) {
  main .main-text > *:nth-child(3) {
    grid-column: 7 / 9;
  }
  main .elements > *:nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 8 / 10;
  }
  main .elements > *:nth-child(4) {
    grid-column: 4 / 7;
  }
}
@media (max-width: 1270px) {
  main {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 8rem);
  }
  main .boxes > *:nth-child(1) {
    grid-column: 3 / 7;
    align-self: end;
  }
  main .boxes > *:nth-child(2) {
    grid-column: 8 / 11;
    grid-row: 5 / 8;
  }
  main .boxes > *:nth-child(3) {
    grid-column: 1 / 4;
    grid-row: 7 / 10;
  }
  main .boxes > *:nth-child(4) {
    grid-column: 6 / 9;
    grid-row: 9 / 11;
  }
  main .main-text > *:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 5 / 7;
  }
  main .main-text > *:nth-child(3) {
    grid-column: 5;
    grid-row: 1;
  }
  main .main-text > *:nth-child(4) {
    grid-column: 8;
    grid-row: 3 / 5;
  }
  main .main-text > *:nth-child(5) {
    grid-row: 2;
  }
  main .elements > *:nth-child(2) {
    grid-column: 10;
    grid-row: 7 / 11;
  }
  main .elements > *:nth-child(3) {
    grid-column: 7 / 10;
    grid-row: 1 / 3;
  }
  main .elements > *:nth-child(4) {
    grid-column: 5 / 8;
    grid-row: 6 / 8;
  }
  main .elements > *:nth-child(5) {
    grid-row: 5;
    justify-self: start;
  }
  main .elements > *:nth-child(6) {
    grid-column: 1 / 5;
    grid-row: 10 / 12;
  }
}
@media (max-width: 1150px) {
  main .elements > *:nth-child(4) {
    grid-column: 5 / 7;
    grid-row: 7;
  }
}
@media (max-width: 1020px) {
  main {
    margin: 2em 4.5vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 8rem);
  }
  main .boxes > *:nth-child(1) {
    grid-column: 3 / 6;
  }
  main .boxes > *:nth-child(2) {
    grid-column: 6 / 9;
    grid-row: 5 / 9;
  }
  main .boxes > *:nth-child(4) {
    grid-column: 5 / 9;
    grid-row: 10 / 13;
  }
  main .main-text > *:nth-child(3) {
    grid-column: 4 / 6;
  }
  main .main-text > *:nth-child(4) {
    grid-column: 6 / 8;
    grid-row: 3;
  }
  main .main-text > *:nth-child(5) {
    grid-row: 4 / 6;
  }
  main .elements > *:nth-child(2) {
    display: none;
  }
  main .elements > *:nth-child(3) {
    background-image: linear-gradient(to bottom right, rgba(117, 89, 184, 0.37), rgba(188, 103, 123, 0.37));
    grid-column: 6 / 9;
    justify-self: end;
  }
  main .elements > *:nth-child(4) {
    grid-column: 4 / 8;
    grid-row: 8 / 10;
  }
  main .elements > *:nth-child(6) {
    grid-row: 11;
  }
}
@media (max-width: 900px) {
  main {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(14, 8rem);
  }
  main .boxes > *:nth-child(1) {
    grid-row: 2 / 5;
  }
  main .boxes > *:nth-child(2) {
    grid-column: 5 / 8;
  }
  main .boxes > *:nth-child(4) {
    grid-row: 11 / 15;
  }
  main .main-text > *:nth-child(1) {
    grid-column: 5 / 7;
    grid-row: 1;
    justify-self: auto;
  }
  main .main-text > *:nth-child(2) {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  main .main-text > *:nth-child(3) {
    grid-column: 3;
    grid-row: 5 / 7;
  }
  main .main-text > *:nth-child(4) {
    grid-column: 6;
    grid-row: 8 / 10;
  }
  main .main-text > *:nth-child(5) {
    grid-column: 2;
    grid-row: 10 / 12;
  }
  main .elements > *:nth-child(3) {
    grid-row: 3 / 5;
  }
  main .elements > *:nth-child(4) {
    grid-row: 9 / 12;
  }
  main .elements > *:nth-child(6) {
    grid-column: 1 / 5;
    grid-row: 12 / 14;
    align-self: start;
    margin-right: 2.35rem;
  }
}
@media (max-width: 720px) {
  main {
    grid-template-rows: repeat(15, 8rem);
  }
  main .boxes > *:nth-child(1) {
    grid-column: 3 / 7;
    grid-row: 2 / 5;
  }
  main .boxes > *:nth-child(2) {
    justify-self: end;
  }
  main .boxes > *:nth-child(3) {
    justify-self: start;
  }
  main .boxes > *:nth-child(4) {
    justify-self: end;
  }
  main .main-text > *:nth-child(1) {
    grid-column: 6 / -1;
    grid-row: 1;
    justify-self: start;
  }
  main .main-text > *:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  main .elements > *:nth-child(3) {
    grid-row: 9 / 12;
    grid-column: 4 / 8;
    justify-self: auto;
    margin-left: 5rem;
  }
  main .elements > *:nth-child(4) {
    grid-column: 2 / 7;
    grid-row: 14 / 16;
    margin-top: 2rem;
  }
  main .elements > *:nth-child(6) {
    margin-right: 4rem;
  }
}
@media (max-width: 680px) {
  main {
    grid-template-rows: repeat(16, 8rem);
  }
  main .boxes > *:nth-child(3) {
    grid-row: 9 / 12;
  }
  main .boxes > *:nth-child(4) {
    grid-row: 12 / 15;
  }
  main .main-text > *:nth-child(3) {
    grid-column: 3;
    grid-row: 6;
  }
  main .main-text > *:nth-child(4) {
    grid-column: 2;
    grid-row: 7 / 9;
  }
  main .main-text > *:nth-child(5) {
    grid-column: 6;
    grid-row: 10 / 12;
  }
  main .elements > *:nth-child(3) {
    grid-row: 9;
  }
  main .elements > *:nth-child(4) {
    grid-column: 1 / 4;
    grid-row: 12 / 15;
    margin-top: 0;
  }
  main .elements > *:nth-child(6) {
    grid-row: 15 / 17;
    grid-column: 2 / 7;
    margin-right: 0;
    align-self: auto;
  }
}
@media (max-width: 630px) {
  main .boxes > *:nth-child(3) {
    grid-row: 8 / 12;
  }
  main .boxes > *:nth-child(4) {
    grid-row: 12 / 15;
  }
  main .main-text > *:nth-child(2) {
    grid-column: 1 / 3;
    justify-self: start;
  }
  main .main-text > *:nth-child(3) {
    grid-column: 2;
    grid-row: 7;
  }
  main .main-text > *:nth-child(4) {
    grid-column: 6 / -1;
    grid-row: 10 / 12;
    justify-self: start;
  }
  main .main-text > *:nth-child(5) {
    grid-column: 2;
    grid-row: 12;
  }
  main .elements > *:nth-child(3) {
    grid-column: 5 / -1;
    margin-left: 0;
  }
  main .elements > *:nth-child(4) {
    grid-row: 13 / 15;
  }
  main .elements > *:nth-child(5) {
    justify-self: auto;
  }
}
@media (max-width: 600px) {
  main .main-text > *:nth-child(5) {
    grid-column: 1 / 3;
  }
  main .elements > *:nth-child(3) {
    margin-left: 1rem;
  }
  main .elements > *:nth-child(4) {
    margin-right: 3rem;
  }
}
@media (max-width: 570px) {
  main {
    margin-right: 5vw;
    margin-left: 5vw;
  }
  main .boxes > *:nth-child(1) {
    grid-column: 1 / 6;
    justify-self: start;
  }
  main .main-text > *:nth-child(1) {
    grid-column: 2 / 4;
  }
  main .main-text > *:nth-child(2) {
    grid-column: -3 / -1;
    justify-self: auto;
    align-self: end;
  }
  main .main-text > *:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 7 / 9;
  }
  main .elements > *:nth-child(1) {
    grid-column: -4 / -1;
  }
  main .elements > *:nth-child(3) {
    margin-left: 2rem;
  }
  main .elements > *:nth-child(4) {
    margin-right: 4rem;
  }
  main .elements > *:nth-child(5) {
    grid-row: 5 / 7;
  }
  main .elements > *:nth-child(6) {
    grid-column: 1 / -1;
  }
}
@media (max-width: 520px) {
  main .elements > *:nth-child(3) {
    grid-column: -3 / -1;
    margin-left: 0;
    justify-self: end;
  }
  main .elements > *:nth-child(4) {
    grid-column: 1 / 3;
    margin-right: 0;
    justify-self: start;
  }
}
@media (max-width: 490px) {
  main {
    grid-template-rows: 8em repeat(22, 7rem);
  }
  main .boxes > *:nth-child(1) {
    grid-row: 2 / 6;
    grid-column: 1 / 7;
    justify-self: auto;
    align-self: auto;
  }
  main .boxes > *:nth-child(2) {
    grid-row: 7 / 11;
    grid-column: 2 / -1;
    justify-self: auto;
  }
  main .boxes > *:nth-child(3) {
    grid-row: 12 / 16;
    grid-column: 1 / 6;
    justify-self: auto;
  }
  main .boxes > *:nth-child(4) {
    grid-row: 17 / 21;
    grid-column: 1 / -1;
    justify-self: auto;
  }
  main .main-text > *:nth-child(1) {
    grid-column: 5 / -1;
    grid-row: 1 / 3;
  }
  main .main-text > *:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 6;
    align-self: auto;
  }
  main .main-text > *:nth-child(3) {
    grid-column: 5 / -1;
    grid-row: 11;
  }
  main .main-text > *:nth-child(4) {
    grid-column: 1 / 4;
    grid-row: 16;
    justify-self: auto;
  }
  main .main-text > *:nth-child(5) {
    grid-column: 3 / -1;
    grid-row: 20 / 22;
  }
  main .elements > *:nth-child(1) {
    grid-column: 1 / 4;
  }
  main .elements > *:nth-child(3) {
    grid-column: 1 / 5;
    grid-row: 10 / 13;
    margin-left: 0;
    margin-top: 3rem;
  }
  main .elements > *:nth-child(4) {
    grid-column: 3 / -1;
    grid-row: 15 / 18;
    justify-self: end;
    margin-right: 0;
    margin-bottom: 3rem;
  }
  main .elements > *:nth-child(5) {
    grid-column: 5 / -1;
    grid-row: 5 / 8;
  }
  main .elements > *:nth-child(6) {
    grid-row: 22 / 24;
  }
}
@media (max-width: 400px) {
  main {
    gap: 0.5em 0;
  }
  main .boxes :nth-child(3) {
    justify-self: start;
  }
  main .main-text :nth-child(4) {
    grid-column: 1 / 3;
  }
  main .elements :nth-child(3) {
    grid-column: 1 / 6;
    justify-self: auto;
  }
  main .elements :nth-child(4) {
    grid-column: 4 / -1;
  }
}
.boxes > *:nth-child(1) {
  grid-column: 7 / 10;
  grid-row: 2 / 5;
}
.boxes > *:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 6;
}
.boxes > *:nth-child(3) {
  grid-column: 12 / 15;
  grid-row: 5 / 7;
}
.boxes > *:nth-child(4) {
  grid-column: 9 / 12;
  grid-row: 8 / 11;
}
.main-text > *:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  justify-self: start;
}
.main-text > *:nth-child(2) {
  grid-column: 4 / 6;
  grid-row: 1;
}
.main-text > *:nth-child(3) {
  grid-column: 7 / 9;
  grid-row: 5 / 7;
}
.main-text > *:nth-child(4) {
  grid-column: 10 / 13;
  grid-row: 1 / 3;
}
.main-text > *:nth-child(5) {
  grid-column: -1;
  grid-row: 3 / 5;
}
.elements > *:nth-child(1) {
  background-image: linear-gradient(to bottom right, rgba(226, 210, 105, 0.37), rgba(234, 145, 94, 0.37));
  grid-column: 1 / 3;
  grid-row: 1;
}
.elements > *:nth-child(2) {
  background-image: linear-gradient(to bottom right, rgba(117, 89, 184, 0.37), rgba(188, 103, 123, 0.37));
  grid-column: 9 / 11;
  grid-row: 5 / 7;
  align-self: end;
}
.elements > *:nth-child(3) {
  background-image: linear-gradient(to bottom right, rgba(82, 142, 180, 0.37), rgba(117, 89, 184, 0.37));
  grid-column: 13 / 16;
  grid-row: 2 / 3;
}
.elements > *:nth-child(4) {
  background-image: linear-gradient(to bottom right, rgba(188, 103, 123, 0.37), rgba(234, 145, 94, 0.37));
  grid-column: 13 / 17;
  grid-row: 7 / 10;
}
.elements > *:nth-child(5) {
  background-image: linear-gradient(to bottom right, rgba(127, 178, 101, 0.37), rgba(82, 142, 180, 0.37));
  grid-column: 1 / 3;
  grid-row: 6;
}
.elements > *:nth-child(6) {
  background-image: linear-gradient(to bottom right, rgba(117, 89, 184, 0.37), rgba(82, 142, 180, 0.37));
  grid-column: 4 / 8;
  grid-row: 8;
}
