<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'lib/website-common/template/common-head.njk' %}
    <link rel="stylesheet" href="/style/gbl-box.css">
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body class="init">
    <main>
      <nav class="boxes subgrid">
        {% include 'template/box-list.njk' %}
      </nav>

      <div class="main-text subgrid">
        <span>M</span
        ><span>a</span
        ><span>l</span
        ><span>u</span
        ><span>s</span>
      </div>

      <div class="elements subgrid">
        <span class="element">
          {% include 'lib/website-common/template/theme-toggle.njk' %}
        </span>

        <span class="element"></span>

        <div class="element">
          <h3>Pronouns</h3>
          <p>he/him</p>
        </div>

        <div class="element">
          <h3>Source</h2>
          <p>
            <a href="https://gitlab.com/Maluscat/malus.zone">Malus.zone on GitLab</a>
          </p>
        </div>

        <div class="element">
          <h3>Myself</h2>
          <ul>
            <li><a href="https://gitlab.com/Maluscat">GitLab</a></li>
            <li><a href="https://github.com/Maluscat">GitHub</a></li>
            <li><a href="https://bsky.app/profile/malus.zone">Bluesky</a></li>
            <li><a href="mailto:maluscat@proton.me">Mail</a></li>
          </ul>
        </div>

        <div class="element">
          <h3>What? How?</h3>
          <p>Cheetah on the internet who studies computer science badly and codes too much.</p>
          <p>See some of my main projects in the boxes and other dabbles on my Git accounts!</p>
        </div>
      </div>
    </main>

    <script src="/script/main/main.js" type="module"></script>
  </body>
</html>
