<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'lib/website-common/template/common-head.njk' %}
    <link rel="stylesheet" href="/style/tools/base.css">
    <link rel="stylesheet" href="/style/tools/3D.css">
  </head>
  <body>
    <div id="wrapper">

      <div class="box">
        <div class="code_container">
          <div class="input_container uncrucial nodisplay">
            <div class="input_box tipper multiple" id="popoutchoice_box">
              <span class="tooltip multiple_tip noselect"><span class="color_mark_none">transparent</span> | <span class="color_mark_1">Opaque</span> | <span class="color_mark_2">collapsed</span> | <span class="color_mark_3">disabled</span></span>
              <span class="input_header">Popout display mode</span>
              <span class="input popoutchoice knobber">
                <span class="knob"></span>
                <div class="mark_container">
                  <div class="marker default currentchoice">
                    <span class="mark"></span>
                  </div>
                  <div class="marker opaque">
                    <span class="mark"></span>
                  </div>
                  <div class="marker collapsed">
                    <span class="mark"></span>
                  </div>
                  <div class="marker disabled">
                    <span class="mark"></span>
                  </div>
                </div>
              </span>
              <span class="tooltip default noselect">Customize the appearance of the code area model-popout</span>
            </div>
          </div>
          <span class="floating_button expand expand_code centerflex noselect">⭲</span>
          <span class="floating_button restore restore_code centerflex noselect hidden">
            <span class="to_right">⭲</span>
            <span class="to_left">⭰</span>
          </span>
          <div class="resize_bar"></div>
        </div>
        <div class="execute_container">
          <span class="floating_button expand expand_execute centerflex noselect">⭰</span>
          <span class="floating_button restore restore_execute centerflex noselect hidden">
            <span class="to_right">⭲</span>
            <span class="to_left">⭰</span>
          </span>
          <div class="input_container compactor">
            <div class="input_container">
              <div class="input_box file tipper">
                <span class="input_header">JSON file</span>
                <label for="input_json_model" class="input file" id="json_model_label">Browse...</label>
                <input type="file" class="input_file" accept="application/json, .json" id="input_json_model">
                <span class="tooltip default noselect">Choose a minecraft model .json to get everything running</span>
              </div>
              <div class="input_box file tipper">
                <span class="input_header">texture files</span>
                <label for="input_images" class="input file" id="images_label">Browse...</label>
                <input type="file" multiple="true" class="input_file" accept="image/png, .png" id="input_images">
                <span class="tooltip default noselect">Choose textures which the model uses. Only png allowed</span>
              </div>
              <div class="input_box button refresh tipper noselect">
                <span class="input_header">Refresh file</span>
                <span class="tooltip default noselect">If selected file has been modified from outside, refresh it! Only works for changing values</span>
              </div>
              <div class="input_box tipper multiple">
                <span class="tooltip multiple_tip noselect"><span class="color_mark_none">None</span> | <span class="color_mark_x">X-Axis</span> | <span class="color_mark_y">Y-Axis</span> | <span class="color_mark_z">Z-Axis</span></span>
                <span class="input_header">Limit to one axis</span>
                <span class="input axischoice knobber">
                  <span class="knob"></span>
                  <div class="mark_container">
                    <div class="marker none currentchoice">
                      <span class="mark"></span>
                    </div>
                    <div class="marker axis x">
                      <span class="mark color_x"></span>
                    </div>
                    <div class="marker axis y">
                      <span class="mark color_y"></span>
                    </div>
                    <div class="marker axis z">
                      <span class="mark color_z"></span>
                    </div>
                  </div>
                </span>
                <span class="tooltip default noselect">Limit the perspective of the element to one specific axis</span>
              </div>
            </div>
            <div class="compact_container">
              <div class="box-header compact">
                <span class="header_text">3D Magic</span>
              </div>
              <div class="utility_buttons compact">
                <span class="util_button button_smallscreen active"></span>
                <span class="util_button button_fullscreen"></span>
                <span class="util_button button_close"></span>
              </div>
            </div>
          </div>
          <div class="input_container uncrucial">
            <div class="input_box tipper">
              <span class="input_header">Quantity | Quality</span>
              <span class="input toggle qualityquantity knobber">
                <span class="knob"></span>
              </span>
              <span class="tooltip default noselect">Toggle a more inperformant, but better looking boundary and axes</span>
            </div>
            <div class="input_box tipper">
              <span class="input_header">Axes visibility</span>
              <span class="input toggle axesvisibility knobber active">
                <span class="knob"></span>
              </span>
              <span class="tooltip default noselect">Toggle the visibility of the visual axes</span>
            </div>
            <div class="input_box tipper">
              <span class="input_header">Quality Grid</span>
              <span class="input toggle bottomgridvisibility knobber">
                <span class="knob"></span>
              </span>
              <span class="tooltip default noselect">With Quality mode enabled, toggle a grid-aid. Possibly slightly inperformant</span>
            </div>
          </div>
          <div class="centerflex default" id="output_container">
            <div class="legend_container noselect nodisplay">
              <div class="color_legend">
                <span>North</span>
                <span class="color_preview color_north"></span>
              </div>
              <div class="color_legend">
                <span>South</span>
                <span class="color_preview color_south"></span>
              </div>
              <div class="color_legend">
                <span>West</span>
                <span class="color_preview color_west"></span>
              </div>
              <div class="color_legend">
                <span>East</span>
                <span class="color_preview color_east"></span>
              </div>
              <div class="color_legend">
                <span>Up</span>
                <span class="color_preview color_up"></span>
              </div>
              <div class="color_legend">
                <span>Down</span>
                <span class="color_preview color_down"></span>
              </div>
            </div>
            <div class="container_3d" id="output" style="transform: rotate3d(1, 0, 0, -20deg) rotate3d(0, 1, 0, 20deg);">
              <div class="boundary_container_2d container_3d">
                <div class="corners container_3d">
                  {% for i in range(1, 7) -%}
                  <span class="object_{{i}} var_corner boundary object_2d"></span>
                  {% endfor -%}
                </div>
                <div class="bottom_grid container_3d">
                  <span class="var_bottom boundary object_2d"></span>
                </div>
                <div class="axes container_only_3d">
                  <span class="var_axis x ver_1 object_2d"></span>
                  <span class="var_axis y ver_1 object_2d"></span>
                  <span class="var_axis z ver_1 object_2d"></span>
                  <span class="var_axis x ver_2 object_2d"></span>
                  <span class="var_axis y ver_2 object_2d"></span>
                  <span class="var_axis z ver_2 object_2d"></span>
                </div>
              </div>
              <div class="boundary_container container_3d nodisplay">
                <div class="bottom_grid container_3d nodisplay"> <!-- don't turn this on -->
                  {% for orientation in ['vertical', 'horizontal'] %}
                  <div class="{{orientation}} container_3d">
                    {% for i in range(1, 18) -%}
                    <div class="stripe_{{i}} container_3d">
                      <span class="face boundary aid_stripe var_bottom end front"></span>
                      <span class="face boundary aid_stripe var_bottom end behind"></span>
                      <span class="face boundary aid_stripe var_bottom side top"></span>
                      <span class="face boundary aid_stripe var_bottom side bottom"></span>
                      <span class="face boundary aid_stripe var_bottom side left"></span>
                      <span class="face boundary aid_stripe var_bottom side right"></span>
                    </div>
                    {% endfor -%}
                  </div>
                  {% endfor %}
                </div>
                <div class="corners container_3d">
                  {% for i in range(1, 9) -%}
                  <div class="corner_{{i}} container_3d">
                    {% for n in range(1, 4) -%}
                    <div class="stripe_{{n}} container_3d">
                      <span class="face boundary aid_stripe var_corner end front"></span>
                      <span class="face boundary aid_stripe var_corner end behind"></span>
                      <span class="face boundary aid_stripe var_corner side top"></span>
                      <span class="face boundary aid_stripe var_corner side bottom"></span>
                      <span class="face boundary aid_stripe var_corner side left"></span>
                      <span class="face boundary aid_stripe var_corner side right"></span>
                    </div>
                    {% endfor -%}
                  </div>
                  {% endfor -%}
                </div>
              </div>
              <div class="container_3d nodisplay" id="axes_container">
                {% for axis in ['x', 'y', 'z'] -%}
                <div class="axes_{{axis}} container_3d">
                  <span class="face axis aid_stripe color_{{axis}} end front"></span>
                  <span class="face axis aid_stripe color_{{axis}} end behind"></span>
                  <span class="face axis aid_stripe color_{{axis}} side top"></span>
                  <span class="face axis aid_stripe color_{{axis}} side bottom"></span>
                  <span class="face axis aid_stripe color_{{axis}} side left"></span>
                  <span class="face axis aid_stripe color_{{axis}} side right"></span>
                </div>
                {% endfor -%}
              </div>
              <div class="container_3d elements_container">
              </div>
            </div>
          </div>
          <div class="error_banner nodisplay">
            <span class="exclamation">!</span>
            <span class="error"></span>
          </div>
        </div>
      </div>
    </div>

    <script src="/resource/api/codemirror/lib/codemirror.js"></script>
    <script src="/resource/api/codemirror/mode/javascript/javascript.js"></script>
    <script src="/resource/api/codemirror/addon/scroll/simplescrollbars.js"></script>
    <link rel="stylesheet" href="/resource/api/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/resource/api/codemirror/addon/scroll/simplescrollbars.css">
    <link rel="stylesheet" href="/resource/api/codemirror/theme/neoncube-json.css">

    <script src="/script/tools/base.js"></script>
    <script src="/script/tools/3D.js"></script>

  </body>
</html>
