<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'lib/website-common/template/common-head.njk' %}
    <link rel="stylesheet" href="/style/tools/base.css">
    <link rel="stylesheet" href="/style/tools/textio.css">
    <link rel="stylesheet" href="/style/tools/spacing.css">
  </head>
  <body>
    <div id="wrapper">

      <div class="box">
        <div class="box-header">
          <span class="header_text">Spacing generator</span>
          <div class="utility_buttons">
            <span class="util_button button_smallscreen active"></span>
            <span class="util_button button_fullscreen"></span>
            <span class="util_button button_close"></span>
          </div>
        </div>
        <div class="input_container">
          <div class="input_box text_input">
            <div class="input_header">Input</div>
            <textarea class="input text" spellcheck="false"></textarea>
          </div>
        </div>
        <div class="input_container">
          <div class="input_box tipper">
            <span class="input_header">Filler</span>
            <input type="text" class="input chars filler" value=" ">
            <span class="tooltip default noselect">What will be in between the characters</span>
          </div>
          <div id="slider_spacesamount"></div>
          <div class="input_box tipper">
            <span class="input_header">Ignore input spaces</span>
            <span class="input toggle extraspaces knobber active">
              <span class="knob"></span>
            </span>
            <span class="tooltip default noselect">If active, fillers are distributed evenly</span>
          </div>
          <div class="input_box button noselect" onclick="spacify()">
            <span class="input_header">Go!</span>
          </div>
        </div>
        <div class="text_box text_content" id="output"></div>
      </div>
    </div>

    <script src="/script/tools/base.js"></script>
    <script src="/script/tools/textio.js"></script>
    <script src="/script/tools/s_p_a_c_i_n_g.js"></script>
  </body>
</html>
